### 오후 시작.

###### if 문

In [14]:
age2 = 10
if (age2 >= 20) :
    print('성인입니다')

In [12]:
age = 20
if (age >= 20):
    print( '성인입니다')
    print( '당신의 나이는 %d입니다' %(age))

성인입니다
당신의 나이는 20입니다

In [15]:
age = 20
if (age >= 20):
    print( '성인입니다')
    print( '당신의 나이는',age,'입니다' )

성인입니다
당신의 나이는 20 입니다

In [18]:
age = int(input('당신의 나이를 입력하세요'))
born = 2021-age+1


if (age >= 20):
    print('성인입니다')
    print('당신의 나이는 %d입니다' %(age))
    print('당신은 %d년도에 태어났군요!' %(born))

당신의 나이를 입력하세요 24

성인입니다
당신의 나이는 24입니다
당신은 1998년도에 태어났군요!

In [22]:
age = float(input('당신의 나이를 입력하세요'))
born = 2021-age+1


if age >= 20:
    print('성인입니다')
    print('당신의 나이는 %.2f입니다' %(age))
    print('당신은 %d년도에 태어났군요!' %(born))

당신의 나이를 입력하세요 24.9

성인입니다
당신의 나이는 24.90입니다
당신은 1997년도에 태어났군요!

In [27]:
age = int(input('당신의 나이를 입력하세요'))


if age >= 40:
    print('중년입니다')

elif age >= 20 :
    print('성인입니다')
    
else :
    print('성인이 아닙니다')

당신의 나이를 입력하세요 39

성인입니다

In [30]:
age = int(input('당신의 나이를 입력하세요'))


if age >= 80:
    print('노년입니다')

elif age >= 40 :
    print('중년입니다')
    
elif age >= 20 :
    print('성인입니다')
    
elif age >= 10 :
    print('청소년입니다')
    
else :
    print('어린이입니다')

당신의 나이를 입력하세요 77

중년입니다

In [41]:
score = int(input('성적을 입력하세요'))

if score >= 90 :
    print('A 학점 입니다~ 축하드려요')
    
elif score >= 70 :
    print('B 학점 입니다.')
    
elif score >= 50 :
    print('C 학점.')
    
elif score >= 30 :
    print('D ')
    
else :
    print('F학점 입니다. 공부하세요!')

성적을 입력하세요 78

B 학점 입니다.

In [45]:
num = int(input('숫자를 입력하세요'))

num2 = num % 2 

print(num2)

if num2 == 0 :
    print('짝수입니다.')
    
else :
    print('홀수입니다.')

숫자를 입력하세요 34

0
짝수입니다.

In [46]:
print(type(num2))

<class 'int'>

In [59]:
num = int(input('아무 숫자나 주세요'))

if num > 0 :
    print('양수이고')
    if num % 2 == 0 :
        print('짝수네요')
    else :
        print('홀수네요')

else :
    print('음수이고')
    if num % 2 == 0 :
        print('짝수네요')
    else :
        print('홀수네요')

아무 숫자나 주세요 34

양수이고
짝수네요

## 반복문~

In [106]:
i = 1


while i <=10:
    print(i)
    i = i +1                                     #증가를 쓰지 않으면 무한루프니까 꼭 쓰자!

1
2
3
4
5
6
7
8
9
10

In [82]:
i = 1
while i <= 10:
    print('hello',i)
    i = i+1

hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

In [84]:
i = 1
while i <= 10:
    print('hello %d' %i)
    i = i+1

hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

In [77]:
i = 1
while i <= 10:
    print(i)
    i=i+2

1
3
5
7
9

In [90]:
i = 0
while i <= 10:
    
    print(i)
    if i % 2 == 0 :
        print('짝수')
    else :
        print('홀수')
    i=i+1

0
짝수
1
홀수
2
짝수
3
홀수
4
짝수
5
홀수
6
짝수
7
홀수
8
짝수
9
홀수
10
짝수

In [91]:
i = 0
while i <= 10:
    if i % 2 == 0 :
        print('짝수')
    else :
        print('홀수')
    i=i+1

짝수
홀수
짝수
홀수
짝수
홀수
짝수
홀수
짝수
홀수
짝수

In [108]:
i = 1
while i <= 100:

    if i % 5 == 0:
        print(i)
    i=i+1

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [104]:
i1 = 1
i = float(i1)
while i <=10:
    print(i)
    i = i + 1

print(type(i))

1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0
<class 'float'>

###### for 문 시작~

In [110]:
print(range(10))

range(0, 10)

In [116]:
for i in range(5) :
    print(i)

0
1
2
3
4

In [120]:
for i in range(10):
    print(i+1)

1
2
3
4
5
6
7
8
9
10

In [125]:
print(range(0, 10))

range(0, 10)

List, Tuple, Set , Dictionary.

list 생성은    a = list( )    type은 리스트. 

list 기호는 [] tuple은 ( ) set은 { }

list 만들때 a = list() or a = [1,2,3]
tuple b=tuple() b=(1,2,3)
set c=set() c = {1,2,3}

set은 중복값x, 순서 유지x
list는 순서도 지켜지고, 중복도 허용됨.
tuple은 값을 못바꿈, 수정삭제가 안됨.

In [127]:
fruits = ['사과', '배', '귤', '샤인머스캣', '바나나']
print(fruits)

['사과', '배', '귤', '샤인머스캣', '바나나']

In [128]:
print(type(fruits))

<class 'list'>

In [132]:
print(len(fruits))

5

In [133]:
print(fruits[0])

사과

In [134]:
print(fruits[3])

샤인머스캣

In [135]:
print(type(fruits[0]))

<class 'str'>

In [137]:
for i in fruits:
    print (i)

사과
배
귤
샤인머스캣
바나나

In [141]:
for i in fruits:
    print('나는 %s를 좋아합니다' %(i))

나는 사과를 좋아합니다
나는 배를 좋아합니다
나는 귤를 좋아합니다
나는 샤인머스캣를 좋아합니다
나는 바나나를 좋아합니다

In [148]:
fruits = ['사과', '배', '귤', '샤인머스캣', '바나나']
print(fruits)

['사과', '배', '귤', '샤인머스캣', '바나나']

In [155]:
print(fruits[1:])

['배', '귤', '샤인머스캣', '바나나']

In [157]:
fruits[0] = "오렌지"

In [158]:
print(fruits)

['오렌지', '배', '귤', '샤인머스캣', '바나나']

In [160]:
new = input('당신이 좋아하는 과일은 무엇입니까?')

당신이 좋아하는 과일은 무엇입니까? 딸기

In [164]:
fruits[4] = new

In [163]:
print(fruits)

['오렌지', '배', '귤', '샤인머스캣', '딸기']

In [165]:
fruits[4] = input('당신이 좋아하는 과일은 무엇입니까?')

당신이 좋아하는 과일은 무엇입니까? 두리안

In [166]:
print(fruits)

['오렌지', '배', '귤', '샤인머스캣', '두리안']

In [168]:
number = [ 3, 4, 28, 19, 24, 7, 8, 44, 49, 10 ]

In [178]:
print(number)

[3, 4, 28, 19, 24, 7, 8, 44, 49, 10]

In [179]:
print(type(number))

<class 'list'>

In [180]:
print(number[5])

7

In [181]:
print(len(number))

10

In [219]:
for i in number:
    print(i)

3
4
28
19
24
7
8
44
49
10

In [304]:
for n in number[1:3] :
    print(n)

4
28

In [235]:
add = 0
for n in number : 
    
    add = add + n
    print(add)

3
7
35
54
78
85
93
137
186
196

In [236]:
print(add)

196

In [22]:
for i in range(10):
    i = i +1 
    print(i)

1
2
3
4
5
6
7
8
9
10

In [253]:
a34 = 0
for i in range(10):
    a34 = a34 +i
    print(a34)

0
1
3
6
10
15
21
28
36
45

In [264]:
new2 = 0
for i in range(100):
    new2 = new2 + i+1
print(new2)

5050

In [310]:
number = [ 3, 4, 28, 19, 24, 7, 8, 44, 49, 10 ] #여기서 짝수만 더하고 짝수 갯수만 찍어보라.

print(type(number))

numberInt = int(number[2])
print(numberInt)

<class 'list'>
28

In [289]:
cnt = 0
for i in number :
    if i % 2 == 0:
        print(i)
        cnt = cnt +1
        # print(cnt)
        
print('짝수 개수는 %d개 입니다.' %cnt)

4
28
24
8
44
10
짝수 개수는 6개 입니다.

In [290]:
add5 = 0
for i in number :
    if i % 2 == 0:
        print(i)
        add5 = add5 + i
        # print(add5)
print(add5)
print('짝수 총 합은 %d입니다.' %add5)

4
28
24
8
44
10
118
짝수 총 합은 118입니다.

In [298]:
a = list(2)

TypeError: 'int' object is not iterable

In [293]:
b = list('hello world')
print(b)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [294]:
print(len(b))

11

In [295]:
c = list('hello', 'world')

TypeError: list expected at most 1 argument, got 2

In [297]:
d = ['hello', 'world']
print(d)

['hello', 'world']

In [317]:
i= 1
add9 = 0
for i in range(10):
    i = i+1
    add9 = add9 + i
    print(i)
    print(add9)

1
1
2
3
3
6
4
10
5
15
6
21
7
28
8
36
9
45
10
55

In [3]:
n = 13
a = 0
b = 1

print('0')

while b <= n:
    print(', %d' %b )
    b = b+1

0
, 1
, 2
, 3
, 4
, 5
, 6
, 7
, 8
, 9
, 10
, 11
, 12
, 13

In [14]:
n=13
a=0;b=1
while b<=n:
    print(b)
    a,b = b,a+b

1
1
2
3
5
8
13

In [13]:
i =1
for i in range(10):
    i = i + i
    print('%d' %i)

0
2
4
6
8
10
12
14
16
18

In [15]:
    for(i=3; i<=n; i++) {
      result = one + two;   // 직전(n-1)과 직직전(n-2) 값을 더해서 돌려줌 
      one = two;      // 직직전(n-2) = 직전(n-1)
      two = result;     // 직전(n-1) = 현재값(now)

SyntaxError: invalid syntax (Temp/ipykernel_1928/331481151.py, line 1)

##### 피보나치~

In [4]:
a1 = 0
b2 = 1

for c in range(10) :
    c = a1+b2
    a1 = b2
    b2 = c
    
    print(c)  #첫번째 에 print(c)는 왜 1이 나왔는가? =>  처음 c = a+b 니까 1이 되었네 ㄷㄷ

1
2
3
5
8
13
21
34
55
89