#### input, 여러개 받아서 나타내기, 연산자, ★int, float로 자료형 바꾸기

In [7]:
a = '5'
b = '7'
c = a+b
print(a+b)
print(c)

print(type(c))
print(type(a+b))

57
57
<class 'str'>
<class 'str'>

In [33]:
x = 3

y = input('숫자를 입력하세요')



print(y)
print(x)

print( x + y ) #데이터 타입이 달라서 계산 안됨.

print(type(y))
print(type(x))

숫자를 입력하세요 3

3
3

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [38]:
x = input('숫자를 입력하세요')

y = input('숫자를 입력하세요')

x1 = int(x)
y1 = int(y)

print(x1)
print(type(x1))

z1 = x1 + y1

print( z1 )

숫자를 입력하세요 3
숫자를 입력하세요 4

3
<class 'int'>
7

In [42]:
x = 3
print('x = 3')
y = input('y를 입력하시오')

y1 = int(y)

print('x+y =', x + y1)

x = 3

y를 입력하시오 4

x+y = 7

In [77]:
x = 3
print('x = 3')
y = input('y를 입력하시오')

x1 = str(x) 

print(x1)
print(type(x1))

print(type(y))

print('x+y =', x1 + y)

x = 3

y를 입력하시오 4

3
<class 'str'>
<class 'str'>
x+y = 34

In [54]:
국어 = input('국어점수를 입력하세요')
영어 = input('영어점수를 입력하세요')
수학 = input('수학점수를 입력하세요')

국어int = int(국어)
영어int = int(영어)
수학int = int(수학)

평균 = (국어int + 영어int + 수학int)/3

print(평균)
print(type(평균))

평균int = int(평균)

print(평균int)

국어점수를 입력하세요 3
영어점수를 입력하세요 4
수학점수를 입력하세요 3

3.3333333333333335
<class 'float'>
3

In [76]:
print('평균은'+평균+'입니다')           #문자열+실수+문자열이라서 계산이 안됨.

TypeError: can only concatenate str (not "float") to str

In [92]:
total = 국어int + 수학int + 영어int

print('점수 총 합은 %d, 평균은 %.2f 입니다.' %(total, 평균)) # %d 와 %f 에 대해 배웠고, 
                                                            # 소수점 둘째자리 까지는  %.2f 이다.

print('-' * 50)

점수 총 합은 10, 평균은 3.33 입니다.
--------------------------------------------------

In [34]:
a = input('a를 입력하시오')
print('ki'+a)
print('ki%s'%a)

a를 입력하시오 a

kia
kia

In [64]:
print(a)

a

In [65]:
print(b)

7

In [68]:
이름 = input('이름을 입력하세요')
print(이름)
이름

이름을 입력하세요 성빈

성빈

'성빈'

In [70]:
print('내 이름은'+이름+'입니다.')

내 이름은성빈입니다.

In [71]:
print('내 이름은',이름,'입니다.')

내 이름은 성빈 입니다.

In [95]:
이름 = input('이름을 입력하세요')

국어 = input('국어점수를 입력하세요')
영어 = input('영어점수를 입력하세요')
수학 = input('수학점수를 입력하세요')

국어int = int(국어)
영어int = int(영어)
수학int = int(수학)

평균 = (국어int + 영어int + 수학int)/3
total = 국어int + 수학int + 영어int

이름을 입력하세요 박성빈
국어점수를 입력하세요 80
영어점수를 입력하세요 90
수학점수를 입력하세요 95

In [127]:
total1 = str(total)
평균1 = str(평균)


print('이름\t' +'국어\t'+'영어\t'+'수학\t'+'총점\t'+'평균\t')

print('-' * 50)

print('%s\t%s\t%s\t%s\t%d\t%d' % (이름, 국어 , 영어 , 수학 , total ,평균))

이름	국어	영어	수학	총점	평균
--------------------------------------------------
박성빈	80	90	95	265	88

In [125]:
print('%s\t%s\t%s\t%s\t%d\t%d' % (이름, 국어 , 영어 , 수학 , total ,평균))

박성빈	80	90	95	265	88

In [133]:
name = input('이름을 입력하세요')

kor = input('국어점수를 입력하세요')
eng = input('영어점수를 입력하세요')
math = input('수학점수를 입력하세요')


kor1 = int(kor)
eng1 = int(eng)
math1 = int(math)

avg = (kor1 + eng1 + math1)/3
total = kor1 + eng1 + math1

print('이름\t' +'국어\t'+'영어\t'+ '수학\t'+'총점\t'+'평균\t')

print('-' * 50)

print('%s\t %d\t %d\t %d\t %d\t %f' % (name, kor1, eng1 , math1 , total ,avg))

이름을 입력하세요 박성빈
국어점수를 입력하세요 80
영어점수를 입력하세요 90
수학점수를 입력하세요 55

이름	국어	영어	수학	총점	평균
--------------------------------------------------
박성빈	 80	 90	 55	 225	 75.000000

In [146]:
name = input('이름을 입력하세요')
kor = int(input('국어점수를 입력하세요'))
eng = int(input('영어점수를 입력하세요'))
math = int(input('수학점수를 입력하세요'))

avg = (kor + eng + math)/3
total = kor + eng + math

print('이름\t' +'국어\t'+'영어\t'+ '수학\t'+'총점\t'+'평균\t')

print('-' * 50)

print('%s\t %d\t %d\t %d\t %d\t %f' % (name, kor, eng , math , total ,avg))

이름을 입력하세요 박성빈
국어점수를 입력하세요 70
영어점수를 입력하세요 80
수학점수를 입력하세요 95

이름	국어	영어	수학	총점	평균
--------------------------------------------------
박성빈	 70	 80	 95	 245	 81.666667

##### print('%s\t %d\t %d\t %d\t %d\t %f' % (name, kor, eng , math , total ,avg)) 이 문장 거의 매드무비급 ㄷㄷ;

In [138]:
print('이름\t국어\t영어\t수학\t총점\t평균\t')

이름	국어	영어	수학	총점	평균

In [147]:
print(name,'\t',kor,'\t',eng,'\t',math,'\t',total,'\t',avg)

박성빈 	 70 	 80 	 95 	 245 	 81.66666666666667

In [148]:
print(name+'\t',kor,'\t',eng,'\t',math,'\t',total,'\t',avg)

박성빈	 70 	 80 	 95 	 245 	 81.66666666666667

In [156]:
name = input('이름이 뭐에요?')
kor = int(input('국어 점수?'))
eng = int(input('영어 점수?'))
math = int(input('수학 점수?'))

total = kor + eng + math
avg = (kor + eng + math)/3

이름이 뭐에요? 박성빈
국어 점수? 88
영어 점수? 90
수학 점수? 96

In [159]:
print('이름\t국어\t영어\t수학\t총점\t평균')
print('-'*50)

print('%s\t %d\t %d\t %d\t %d\t %f' %(name, kor , eng, math, total, avg))

이름	국어	영어	수학	총점	평균
--------------------------------------------------
박성빈	 88	 90	 96	 274	 91.333333

In [160]:
data = 40
score = 80

print( data < score)

True

In [161]:
print( data <= score)

True

In [162]:
print( data > score)

False

In [163]:
print( data == score)

False

In [164]:
print(data != score)

True

In [167]:
ex = data < score
print( ex)
print( type(ex))

True
<class 'bool'>

In [168]:
print(type(data != score))

<class 'bool'>

In [3]:
all = 100
dice = 6

a = all % dice 
print(a)

4

In [1]:
print('hello')

hello

In [11]:
data = 40

In [10]:
score = 80

In [12]:
print(score >= 0 and score <=100)

True

In [13]:
print(score >= 0 or score <= 100)

True

In [15]:
score1 = int(input('첫번째 값을 입력하세요'))
score2 = int(input('두번째 값을 입력하세요'))

첫번째 값을 입력하세요 89
두번째 값을 입력하세요 29

In [16]:
print('첫번째 값이 더 크다', score1 > score2)

첫번째 값이 더 크다 True

In [17]:
print('두번째 값이 더 크다', score1 < score2)

두번째 값이 더 크다 False

In [18]:
print(type(score1>score2))

<class 'bool'>

In [19]:
print(print(1))

1
None

In [20]:
print((((((1))))))

1

In [21]:
print((((((1)))))*10)

10

In [23]:
message = input('Say something..')
print('I can hear what you said : ' , message)

Say something.. hi

I can hear what you said :  hi

In [25]:
    print(2)

2

##### 영타연습... ㅋㅋ Enemy

In [ ]:
i wake up to the sounds of the silence that alllows 
for my mind to run around wiht my ear up to the ground
i'm searching to behold the stories that are told 
when my back is to the world that was smiling when i turned 

Tell you you're the greatest 
BUt once you turn they hate us 

Oh the misery
Everybody wants to be my enemy
Spare the sympathy 
Everybody wants to be my enemyyyy
my enemy
But I'm ready

In [26]:
    """ 이 문장에서는 에러가 발생합니다"""

' 이 문장에서는 에러가 발생합니다'

In [32]:
""" 
이 문장에서는 에러가 발생합니다
"""

#주석이 안되나봄.. 뭐지

' \n이 문장에서는 에러가 발생합니다\n'