# Iteration Statement

## 1. For Loops

* 리스트나 튜플, 문자열의 첫 번째 아이템부터 마지막 아이템까지 차례로 변수에 대입되어 반복적으로 문장을 수행한다.
* in 뒤의 Collection_Data 값이 없을때 까지 하나씩 변수로 복사되어 반복됩니다.
* Collection_Data로는 tuple, set, list, dictionary, string 등 데이터의 집합입니다.

```
for 변수 in 리스트(또는 튜플, 문자열):
    수행할 문장1
    수행할 문장2
    ...
```

In [2]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
  print(x)

apple
banana
cherry
b
a
n
a
n
a

## 2. range()

* for문은 숫자 리스트를 자동으로 만들어 주는 range 함수와 함께 사용하는 경우가 많다.

In [3]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [4]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

## 3. 컬렉션 데이터 출력

In [5]:
# 리스트 테이터
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60: 
        continue
    print("%d번 학생 축하합니다. 합격입니다." % (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [13]:
# 튜플 데이터
order_message=" 메뉴는 %s 입니다. " 

coffee = ( "cafelatte", "americano", "espresso" )
for n in coffee :
    print(order_message % n)

 메뉴는 cafelatte 입니다.
 메뉴는 americano 입니다.
 메뉴는 espresso 입니다.

In [15]:
# 집합 데이터
order_message=" 메뉴는 %s 입니다. " 

coffee = { "cafelatte", "americano", "espresso" }
for n in coffee :
    print(order_message % n)

 메뉴는 americano 입니다.
 메뉴는 espresso 입니다.
 메뉴는 cafelatte 입니다.

In [14]:
# 딕셔너리 데이터
coffee = { "cafelatte" : 3000,
           "americano" : 2500,
           "espresso" : 4000 }

for n in coffee :    #딕셔너리의 키값이 하나씩 n에 전달됨
    print(n)

cafelatte
americano
espresso

## 4. Break

In [11]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:

    if x == "banana":
        break
    print(x)

apple

## 5. Continue

In [9]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

## 6. For ~ Else

* else 구절은 선택 사항입니다.

```
for 변수명 in Collection_Data:
    반복 실행할 명령
    ....
else:
    데이터가 없을때 실행할 명령
    ....
```

In [7]:
for x in range(6):
    print(x)
else:
    print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [6]:
for x in range(6):
    if x == 3: break
      print(x)
else:
    print("Finally finished!")

0
1
2

## 7. 중첩 For

In [17]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry