### Class

오브젝트 = 데이터 , 데이터를 처리하는 함수가 묶여있는것이 객체,  변수+함수 =object

In [1]:
class Car():
    carId = '1234'
    carName = 'bmw'
    speed = 100

In [3]:
print(carId, carName, speed)

NameError: name 'carId' is not defined

In [6]:
c1 = Car()  # 객체 생성
c2 = Car()

c1.id = '20'
c1.carName = 'tesla'

print(c1.carId, c1.carName, c1.speed)

1234 tesla 100

In [5]:
print(c2.carId, c2.carName, c2.speed)

1234 bmw 100

In [16]:
print(type(c1.carId))

<class 'str'>

In [10]:
class Person() :
    name = '박성빈'
    age = '24'

In [11]:
p1 = Person()


print(p1.name, p1.age)

박성빈 24

In [47]:
print(type(Person))   # class 는 type 이 그냥 'type'으로 나오네... 뭐지?

<class 'type'>

###  생성자

In [109]:
class Car():

    def __init__(self, Id, Name) :
        self.id = Id
        self.name = Name
        
    def my_print(self) :
        print(self.id, self.name)
        
    def get_id(self) :
        return self.id
    
    def get_name(self) :
        return self.name

In [110]:
c1 = Car('5555', 'bmw')
c2 = Car('4444', 'tesla')

print(c1.id, c1.name)
print(c2.id, c2.name)

5555 bmw
4444 tesla

In [117]:
f = c1.get_id()
print(f)

g = c2.get_id()
print(g)

cars = [c1, c2]

print(type(cars))
print(cars[0])
x = cars[0].get_id() #여러개가 있으면 for 문으로 반복

for x in cars : #이때 x 도 car type이다.
    x.get_id()  #가 가능함

5555
4444
<class 'list'>
<__main__.Car object at 0x0000027C38C25B80>

In [103]:
h = c1.get_name()
print(h)

j = c2.get_name()
print(j)

bmw
tesla

In [46]:
c1.my_print()

5555 bmw

In [42]:
print(type(c1))

<class '__main__.Car'>

In [41]:
print(type(c1.my_print()))

5555 bmw
<class 'NoneType'>

In [44]:
print(type(c1.my_print))

<class 'method'>

In [56]:
class Person() :
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def my_print1(self) :
        print(self.name, self.age)

In [57]:
p1 = Person('성빈', '24')
p2 = Person('현민', '23')

print(p1.name,p1.age)

성빈 24

In [58]:
print(p2.name,p2.age)

현민 23

In [63]:
p1.my_print1()
p2.my_print1()

성빈 24
현민 23

학생 5명 넣고 이름, 국어,영어,수학 해서 총점까지.

In [186]:
# students = list()


# for i in range(2) :
#     personNew = dict()
#     name = input('이름을 주세요')
#     kor = int(input('국어점수는?'))
#     eng = int(input('영어점수는?'))
#     math = int(input('수학점수는?'))
    
#     personNew['name'] = name  
#     personNew['kor'] = kor
#     personNew['eng'] = eng
#     personNew['math'] = math
#     students.append(personNew)

In [254]:
s_list = list()
for i in range(3) :
    
    name = input('이름을 주세요')
    kor = int(input('국어점수는?'))
    eng = int(input('영어점수는?'))
    math = int(input('수학점수는?'))
    students  = Student(name,kor,eng,math)
    s_list.append(students)

이름을 주세요 k
국어점수는? 10
영어점수는? 20
수학점수는? 30
이름을 주세요 m
국어점수는? 40
영어점수는? 50
수학점수는? 60
이름을 주세요 s
국어점수는? 70
영어점수는? 80
수학점수는? 90

In [259]:
print(students)

<__main__.Student object at 0x0000027C3AB33910>

In [255]:
class Student() :
    def __init__(self, name, kor, eng, math) :
        self.name = name
        self.kor = kor
        self.eng = eng
        self.math = math
        
    def get_name(self) :
        return self.name
    def get_kor(self) :
        return self.kor
    def get_eng(self) :
        return self.eng
    def get_math(self) :
        return self.math
    
    def get_sum(self) :
        
        add =( kor + eng + math)
        return add

In [256]:
k_t = 0
e_t = 0
m_t = 0

for x1 in s_list :
    n = x1.get_name()
    k = x1.get_kor()
    e = x1.get_eng()
    m = x1.get_math()
    s = x1.get_sum()
    k_t = k_t + k
    e_t = e_t + e
    m_t = m_t + m
    print('이름은 %s 국어는 %d 영어는 %d 수학은 %d 총점은 %d ' %(n, k, e, m, s))

print('국어 총점은 %d' %k_t)
print('영어 총점은 %d' %e_t)
print('수학 총점은 %d' %m_t)

이름은 k 국어는 10 영어는 20 수학은 30 총점은 240
이름은 m 국어는 40 영어는 50 수학은 60 총점은 240
이름은 s 국어는 70 영어는 80 수학은 90 총점은 240
국어 총점은 120
영어 총점은 150
수학 총점은 180