#### 함수에서 리턴 값.

In [331]:
def my_add(a,b) :
    x = a + b
    
    #return x
    return

In [332]:
y = my_add(10, 20)

In [334]:
print(y)            #위에서 return을 안해서 함수가 일을 안함 => none 나옴

None

In [56]:
def my_evenOdd(a) : 
    if a % 2 == 0 :
        return '짝수'
    
    elif a % 2 != 0 :
        return '홀수'

In [61]:
y = my_evenOdd(10)

In [62]:
print(y)

짝수

In [60]:
def my_evenOdd(a) : 
    if a % 2 == 0 :
        s = '짝수'
    
    elif a % 2 != 0 :
        s = '홀수'
    return s

In [64]:
y = my_evenOdd(10)

In [65]:
print(y)

짝수

In [86]:
def my_addsub(a,b) :
    add = a + b
    sub = a - b
    
    return add,sub       # Java 같은데에서는 절대 안되는 일. 파이썬만 가능.

In [87]:
z = my_addsub(10,5)

In [88]:
print(z)

(15, 5)

In [89]:
my_addsub(10,4)

(14, 6)

In [110]:
print(type(z), z[0], z[1] )          # Java에서는 이렇게 tuple 로는 절대 못받음.

<class 'tuple'> 15 5

In [97]:
def cir (a) :
    cirRe = a * a * 3.14
    return cirRe

In [104]:
a2 = int(input('반지름의 길이는?'))

y = cir(a2)

print( y, type(y))

반지름의 길이는? 10

314.0 <class 'float'>

In [106]:
print('원의 넓이는 %.2f 입니다' %y)

원의 넓이는 314.00 입니다

매개변수의 개수를 모를때 ? 부터 한다고 하심.

### 매개변수의 개수를 모를땐 def my_family(*name) : 으로  * 를 붙인다.

In [145]:
def my_family(*name) :
     
    print(type(name))
        
    print(name)

In [146]:
my_family('lee')
my_family('lee','kim')
my_family('lee', 'kim', 'park')

<class 'tuple'>
('lee',)
<class 'tuple'>
('lee', 'kim')
<class 'tuple'>
('lee', 'kim', 'park')

In [322]:

def my_family(*name) :
     
    for i in name :                # 이걸 못하네.. 이건 자연스럽게 할 수 있도록하자.
        print(i)
        
    print(name)

In [163]:
name1 = input('이름을 주세요')
name2 = input('이름을 주세요')
name3 = input('이름을 주세요')


my_family(name1,name2,name3)      #이게 다른언어에서는 안되는데 파이썬은 가능함.

이름을 주세요 d
이름을 주세요 e
이름을 주세요 f

d
e
f
('d', 'e', 'f')

In [167]:
print(type(name1))

<class 'str'>

** 별표 2개는 key , value 값 둘다 보내주는 내용이다

In [160]:
def my_family (**name) :
    # print(type(name))
    print(name)
    print(name['fname'])

In [154]:
my_family(fname='seongbin', lname= 'min')

{'fname': 'seongbin', 'lname': 'min'}
seongbin
['lname']

In [247]:
def add (*num) :
    newAdd = 0
    for i in num :
        newAdd = newAdd + i
    return newAdd

In [251]:
print(add(1,2,3,4))   # 얘는 여러개를 넣어준거고 밑에는 하나를 여러번 하는느낌임
print(type(add))      # 입력받는 인수 개수를 조절하는게 안되기 때문이다.

10
<class 'function'>

In [249]:
add1 = int(input('숫자를 주세요'))
add2 = int(input('숫자를 주세요'))

print(add(add1, add2))

숫자를 주세요 3
숫자를 주세요 4

7

In [226]:
n = int(input('숫자 몇개 넣으실건가요?'))

for i in range(n):

    add3 = int(input('숫자를 주세요'))
    
    print(add(add3))



print(add(add3))

숫자 몇개 넣으실건가요? 3
숫자를 주세요 1

1

숫자를 주세요 2

2

숫자를 주세요 3

3
3

In [253]:
print(type(add3))

<class 'int'>

위에거 는 그냥 안되는 거임.. 하려면 list로 받아서 그냥 num 으로 넣기를 해야함.

In [286]:
def add2 (num1) :
    newAdd = 0
    for i in num1 :
        newAdd = newAdd + i
    return newAdd

In [287]:
print(add2([1,2,3,4]))

10

In [288]:
n = int(input('숫자 몇개 넣으실건가요?'))
add3List = list()

for i in range(n):


    add3 = int(input('숫자를 주세요'))
    
    add3List.append(add3)
    
    print(add3List)


print(add2(add3List))

숫자 몇개 넣으실건가요? 3
숫자를 주세요 1

[1]

숫자를 주세요 2

[1, 2]

숫자를 주세요 3

[1, 2, 3]
6

In [252]:
print(type(add3List))

<class 'list'>

 이렇게 리스트로 바꿔서 넣으면 되는구나~

리스트로 넣을때는 * 필요없이 그냥 num 함수로 만들면 되네 ㅎㅎ

In [304]:
def add7 (num1) :
    newAdd = 0
    for i in num1 :
        newAdd = newAdd + i
    return newAdd

In [321]:

def addInput ( n ) :
    add4List = list()
    
    for i in range(n) :
        add4 = int(input('숫자를 주세요'))
    
        add4List.append(add4)
        
    
    return add4List

In [324]:
n2 = int(input('숫자를 몇개 하실 건가요?'))

x = addInput(n2)         # 여기서 x 가 addInput에 return 값임.
z = add7(x)
print(z)

숫자를 몇개 하실 건가요? 3
숫자를 주세요 1
숫자를 주세요 2
숫자를 주세요 3

6

return 을 어떻게 써야하는지 잘 모르겠음.. 

첫번째 함수에서는 그냥 함수 안에서 만든 변수로 return 했는데
아래 꺼는 다른 함수로 return 시켜서 불러오긴 했는데 맞는지 잘 모르겠음.. 흠..


그냥 새로 만든 변수로 return 하면 되고 , 
나중에 print 할 때는 2번에 걸쳐서 불러와주면 되는듯.

In [209]:
def my_country(country='Korea' ) :
    print(country)

In [210]:
my_country()

Korea

In [212]:
def my_country(country) :
    print(country)

In [213]:
my_country('USA')

USA

#### 매개변수가 컬렉션인 경우

항상 함수를 찍어보는게 중요하다

def     (    a   )
     
     print(a, type(a))

In [344]:
pow(5, 3)

125

In [346]:
p=sum([1,2])
print(p)

3