In [40]:
import requests

In [4]:
response = requests.get('http://www.naver.com')
naver = response.text

In [299]:
#print(naver)

In [54]:
response = requests.put('http://httpbin.org/ip')

In [55]:
print(type(response),response)
print(response.status_code)
print(response.encoding + '\n')
print(response.text + '\n')
print(response.content )

<class 'requests.models.Response'> <Response [405]>
405
ISO-8859-1

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<title>405 Method Not Allowed</title>
<h1>Method Not Allowed</h1>
<p>The method is not allowed for the requested URL.</p>


b'<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">\n<title>405 Method Not Allowed</title>\n<h1>Method Not Allowed</h1>\n<p>The method is not allowed for the requested URL.</p>\n'

In [1]:
import requests
from bs4 import BeautifulSoup

response = requests.get('http://www.summet.com/dmsi/html/codesamples/addresses.html')
#print(response.text)

html_doc = response.text
#html_doc (얘는 str 타입이라 .tap 을 해도 많지 않음.) , 반면에 soup이라는 객체로
                                    # 넣어주어서 .tap 을 하면 가능한 기능이 많음.
    
soup = BeautifulSoup(html_doc, 'html.parser') #html 문서로 읽어오겠다는 의미~ 
#soup              #(        , 'lxml.parser') 로 하면 xml로 읽어옴.

In [58]:
print(soup.title)
print(soup.title.name)
print(soup.title.string)

<title>Sample Addresses!</title>
title
Sample Addresses!

In [63]:
print(soup.ul.li) #soup.li 만 써도 비슷은 한데 ul에 소속된 애들중에 li 만 찾고 싶으면
                 # soup.ul.li 로 ul 밑에 녀석들 중에 li 만 가져오게 되었다. 굳!
print(soup.img)

<li>Cecilia Chapman<br/>711-2880 Nulla St.<br/>Mankato Mississippi 96522<br/>(257) 563-7401</li>
None

- find() 함수는 조건을 만족하는 태그를 하나만 가져오는 함수이다 

- find_all() 함수는 원하는 태그가 여러 개 있을 경우 해당하는 태그를 한꺼번에 가져오는 함수이다.

In [344]:
print(soup.find('h1'))
print(type(soup.find('h1')))
print(soup.find_all('h1'))
print(type(soup.find_all('h1')))  # 뭐지 왜 타입이 클래스 라고 나오지? 근데 출력되는거
                                  # 보면 리스트 [] 타입이 맞는거 같은데... 흠...
                                  # [] 로 출력되는거 보면 맞다!

<h1> A page full of sample addresses for your parsing enjoyment!</h1>
<class 'bs4.element.Tag'>
[<h1> A page full of sample addresses for your parsing enjoyment!</h1>]
<class 'bs4.element.ResultSet'>

In [350]:
print(type(soup.find_all('li>a')))
#soup.find_all('li')

<class 'bs4.element.ResultSet'>

- get_text() 함수를 통해 태그 내의 텍스트 데이터를 추출하는 것은 아래와 같다.

In [340]:
li_list = list()

li_list = soup.find_all('li')
# print(li_list)
# print(type(li_list))

for li in li_list :
    #print(type(li))
    #print(li.get_text())

IndentationError: expected an indented block (Temp/ipykernel_2156/3185347682.py, line 10)

naver~

In [327]:
import requests
from bs4 import BeautifulSoup

response = requests.get('https://www.naver.com')


html_doc = response.text

    
soup = BeautifulSoup(html_doc, 'html.parser')
#soup

In [328]:
soup.find_all('a')    # href : 속성  으로 원하는 녀석들만 골라서 출력이 가능하다.
soup.find_all('a', {'href' : '#newsstand'})  # 딕셔너리 형태로 넣어주는 것.
#soup.find_all('button',{'type' : 'button'})

soup.select('a')
soup.select('a > span ')   # a태그 자식의 span만 가져오라는 뜻. 
                            #   >  얘의 의미가 자식을 가져오라는 의미이다.

In [331]:
import requests
from bs4 import BeautifulSoup

response = requests.get('https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=bts')


html_doc = response.text

    
soup = BeautifulSoup(html_doc, 'html.parser')
#soup

soup.select('#main_pack > section.sc_new.sp_nnews._prs_nws_all > div > div.group_news > ul')

In [332]:
tag = soup.select_one('#main_pack > section.sc_new.sp_nnews._prs_nws_all > div > div.group_news > ul')
#위의 .select_one 은 타입이 tag 이고, tag만 밑에처럼 또 .select 가 가능하다.

news_list = tag.select('li > div > div > a')

for n in news_list:
    print(n.get_text())

한 벌에 12만원…BTS도 놀란 ‘BTS 잠옷’ 가격
BTS 뷔가 부른 OST, 한국 첫 빌보드 ‘핫 100‘ 진입
네이버웹툰, BTS 슈퍼캐스팅 옥외광고 코엑스 케이팝 스퀘어에 공개
BTS 후보 오른 그래미 시상식, 오미크론 여파 연기 가능성

print(tag)

In [195]:
print(type(n))

<class 'bs4.element.Tag'>

In [ ]:
#main_pack > section.sc_new.sp_nnews._prs_nws_all > div > div.group_news

In [203]:
news_list1 = tag.select('#main_pack > section.sc_new.sp_nnews._prs_nws_all > div > div.group_news > ul > li > div > div > a')

for n1 in news_list:
    print(n1.get_text())

한 벌에 12만원…BTS도 놀란 ‘BTS 잠옷’ 가격
BTS 뷔가 부른 OST, 한국 첫 빌보드 ‘핫 100‘ 진입
네이버웹툰, BTS 슈퍼캐스팅 옥외광고 코엑스 케이팝 스퀘어에 공개
BTS 후보 오른 그래미 시상식, 오미크론 여파 연기 가능성

In [216]:
print(news_list1)
print(type(news_list1))

[<a class="news_tit" href="https://www.chosun.com/economy/industry-company/2022/01/04/5RBS7KTE6JFWVNJX4BCKC4VKJ4/?utm_source=naver&amp;utm_medium=referral&amp;utm_campaign=naver-news" onclick="return goOtherCR(this, 'a=nws_all*h.tit&amp;r=1&amp;i=880000ED_000000000000000003663976&amp;g=023.0003663976&amp;u='+urlencode(this.href));" target="_blank" title="한 벌에 12만원…BTS도 놀란 ‘BTS 잠옷’ 가격">한 벌에 12만원…<mark>BTS</mark>도 놀란 ‘<mark>BTS</mark> 잠옷’ 가격</a>, <a class="news_tit" href="https://www.seoul.co.kr/news/newsView.php?id=20220105500019&amp;wlog_tag3=naver" onclick="return goOtherCR(this, 'a=nws_all*h.tit&amp;r=4&amp;i=880000D1_000000000000000003242562&amp;g=081.0003242562&amp;u='+urlencode(this.href));" target="_blank" title="BTS 뷔가 부른 OST, 한국 첫 빌보드 ‘핫 100‘ 진입"><mark>BTS</mark> 뷔가 부른 OST, 한국 첫 빌보드 ‘핫 100‘ 진입</a>, <a class="news_tit" href="http://www.fnnews.com/news/202201040847465379" onclick="return goOtherCR(this, 'a=nws_all*h.tit&amp;r=7&amp;i=880000FF_000000000000000004766273&amp;g=014.0004766273&amp;u='+urlencode(this.href));" target="_blank" title="네이버웹툰, BTS 슈퍼캐스팅 옥외광고 코엑스 케이팝 스퀘어에 공개">네이버웹툰, <mark>BTS</mark> 슈퍼캐스팅 옥외광고 코엑스 케이팝 스퀘어에 공개</a>, <a class="news_tit" href="http://yna.kr/AKR20220105005100075?did=1195m" onclick="return goOtherCR(this, 'a=nws_all*a.tit&amp;r=10&amp;i=880000D8_000000000000000012897843&amp;g=001.0012897843&amp;u='+urlencode(this.href));" target="_blank" title="BTS 후보 오른 그래미 시상식, 오미크론 여파 연기 가능성"><mark>BTS</mark> 후보 오른 그래미 시상식, 오미크론 여파 연기 가능성</a>]
<class 'bs4.element.ResultSet'>

In [206]:
print(type(n1))

<class 'bs4.element.Tag'>

In [224]:
print(news_list1.get_text()) # 이거 조금 이따 해보자. 뭐지? #밑에 의문해결

AttributeError: ResultSet object has no attribute 'get_text'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

- 리스트 변수에는 get_text()라는 함수가 존재하지 않습니다. 하지만, 리스트 변수 안에 있는 각 데이터를 for 문으로 하나씩 꺼내면, 해당 데이터는 get_text()라는 함수를 쓸 수 있는 객체이기 때문에, 이와 같이 하나씩 꺼내서 get_text() 함수를 사용하는 것입니다.

- 다른 것들이랑 결국에는 같은 이유로 for 문을 돌려서 꺼내 써야한다.

- 간략히 사과 박스가 있고 그 안에 사과가 있는 상황으로 생각해보시면, 사과 박스는 먹을 수 없어서요. 사과 박스 안에서 각 사과를 꺼내야 해당 사과를 먹을 수 있는 이치와 동일하다고 보시면 좀더 낫지 않을까 생각합니다. 사과 박스가 리스트라고 보시면 좋고, 리스트 안에 있는 각 데이터가 사과 이고, 먹는다는 행위가 get_text() 함수라고 생각하시면 좀더 이해가 쉽지 않을까 생각합니다.

In [223]:
tag = soup.select_one('#main_pack > section.sc_new.sp_nnews._prs_nws_all > div > div.group_news > ul')

news_list = tag.select('li > div > div > a')

# for n in news_list:
#     print(n.get_attribute_list('title'))
for n in news_list:
    print(n.get_attribute_list('href'))

['https://www.chosun.com/economy/industry-company/2022/01/04/5RBS7KTE6JFWVNJX4BCKC4VKJ4/?utm_source=naver&utm_medium=referral&utm_campaign=naver-news']
['https://www.seoul.co.kr/news/newsView.php?id=20220105500019&wlog_tag3=naver']
['http://www.fnnews.com/news/202201040847465379']
['http://yna.kr/AKR20220105005100075?did=1195m']

In [ ]:
for n in news_list:
    print(n.get_attribute_list('href'))

In [286]:
import requests
from bs4 import BeautifulSoup

response = requests.get('https://fow.kr/ranking#1')


html_doc = response.text

    
soup = BeautifulSoup(html_doc, 'html.parser')

In [287]:
soup.select('body > div:nth-child(6) > div:nth-child(1) > div > table')
#얘는 이 밑으로 자바스크립트 코드라서 찾지 못한다. ㅠㅜ
# 이 사이트는 아무래도 동적 사이트라 잘 안되는 듯 싶다.

[<table class="tablesorter rank_ranking" style="width:100%;">
 <thead>
 <tr>
 <th width="60">순위</th>
 <th width="180">소환사명</th>
 <th width="120">티어</th>
 <th>LP</th>
 <th>승률</th>
 <th width="120">모스트 챔프</th>
 </tr>
 </thead>
 <tbody id="r_out">
 </tbody>
 </table>]

In [292]:
import requests
from bs4 import BeautifulSoup

response = requests.get('https://search.naver.com/search.naver?where=nexearch&sm=top_hty&fbm=1&ie=utf8&query=%EC%83%81%EB%8F%84%EB%8F%99+%EB%82%A0%EC%94%A8')


html_doc = response.text

    
soup = BeautifulSoup(html_doc, 'html.parser')

In [293]:
a = soup.select('#main_pack > section.sc_new.cs_weather_new._cs_weather > div._tab_flicking > div.content_wrap > div.open > div:nth-child(2) > div > div')

for n2 in a:
    print(n2.get_text())

In [295]:
b = soup.select('#main_pack > section.sc_new.cs_weather_new._cs_weather > div._tab_flicking > div.content_wrap > div.content_area > div.inner > div > div> ul >li')

print(b)

In [296]:
for n2 in b:
    print(n2.get_text())

    오늘 1.05.      오전 10%  구름많음    오후 20%  구름많음     최저기온-7° / 최고기온4°
    내일 1.06.      10%  맑음    0%  맑음     최저기온-5° / 최고기온4°
    금 1.07.      0%  맑음    0%  맑음     최저기온-6° / 최고기온4°
    토 1.08.      30%  구름많음    30%  구름많음     최저기온-4° / 최고기온4°
    일 1.09.      30%  흐림    30%  구름많음     최저기온-1° / 최고기온4°
    월 1.10.      30%  구름많음    30%  구름많음     최저기온-4° / 최고기온3°
    화 1.11.      0%  맑음    0%  맑음     최저기온-8° / 최고기온-1°
    수 1.12.      0%  맑음    0%  맑음     최저기온-7° / 최고기온1°
    목 1.13.      30%  구름많음    30%  구름많음     최저기온-4° / 최고기온3°
    금 1.14.      0%  맑음    0%  맑음     최저기온-6° / 최고기온0°