##  점심 이후 dict~

In [9]:
my_dict = {'name':'성빈', 'age': 24, 'gender': True}
my_dict2 = dict()
my_dict3 = {}

print(my_dict, type(my_dict))
print(my_dict2, type(my_dict2))
print(my_dict3, type(my_dict3))

my_dict4 = {'name' : '현민',
            'age' : 25 ,
            'age' : 3 ,
            'age2' : 3 }
print(my_dict4, type(my_dict4))
print(len(my_dict4))
print(my_dict4['name'])  # dict는 [ ] 안에 키값 'name' 을 다 써줘야함.

{'name': '성빈', 'age': 24, 'gender': True} <class 'dict'>
{} <class 'dict'>
{} <class 'dict'>
{'name': '현민', 'age': 3, 'age2': 3} <class 'dict'>
3
현민

In [10]:
keys = my_dict.keys() # 키 리스트
values = my_dict.values() # 값 리스트
items = my_dict.items() # 아이템 리스트
print(keys, type(keys))
print(values, type(values))
print(items, type(items))

dict_keys(['name', 'age', 'gender']) <class 'dict_keys'>
dict_values(['성빈', 24, True]) <class 'dict_values'>
dict_items([('name', '성빈'), ('age', 24), ('gender', True)]) <class 'dict_items'>

In [11]:
name = my_dict.get('name')
print(name, type(name))

성빈 <class 'str'>

In [12]:
age = my_dict.get('age')
print(age, type(age))

24 <class 'int'>

In [13]:
gender = my_dict.get('gender')
print(gender, type(gender))

True <class 'bool'>

In [14]:
name1 = my_dict['name']
print(name)

성빈

In [15]:
print(my_dict)
my_dict['age'] = 25
my_dict['add'] = 'sangdo'
print(my_dict)

{'name': '성빈', 'age': 24, 'gender': True}
{'name': '성빈', 'age': 25, 'gender': True, 'add': 'sangdo'}

In [16]:
person = [ {'name': '성빈', 'age' : 23 },
          {'name' : 'no' , 'age' : 35}]

print(person)

[{'name': '성빈', 'age': 23}, {'name': 'no', 'age': 35}]

In [17]:
person = {'name': '성빈', 'age' : 23 }

In [18]:
for n in person :
    print(n, person[n])

name 성빈
age 23

##  대괄호 안에 중괄호라서 ㄹㅇ 헷갈릴만 함..

In [19]:
person1 = [ {'name': '성빈', 'age' : 23 },
          {'name' : '현민' , 'age' : 35}]

print(person1)

[{'name': '성빈', 'age': 23}, {'name': '현민', 'age': 35}]

In [20]:
for i in person1 :
    print(i)

{'name': '성빈', 'age': 23}
{'name': '현민', 'age': 35}

In [21]:
for i in person1 : 
                                # print(i)
                                # new = i.values()
                                # print (new)
    print(i.get('name')) 
    
    # 이 상태에서 i 는 dict 이므로 키값만 구한다거나 하는게 가능함.

성빈
현민

#### dict 활용법

In [22]:
person = dict()

name = input('이름을 주세요')
kor = int(input('국어점수는?'))
eng = int(input('영어점수는?'))
math = int(input('수학점수는?'))

이름을 주세요 박성빈
국어점수는? 10
영어점수는? 10
수학점수는? 10

In [25]:
person['name11'] = name      #dict 에 키 와 값 추가하는 방법.
person['kor11'] = kor
person['eng11'] = eng
person['math11'] = math

add = kor + eng + math

person['add11'] = add     # 그냥 총점도 dict에 넣은 거  큰의미x

print(add)
print(person)

30
{'name11': '박성빈', 'kor11': 10, 'eng11': 10, 'math11': 10, 'add11': 30}

In [26]:
print(person.get('name11'))     # dict에서 값을 출력할 때 하는법.
print(person['add11'])         # 이게 더 나은듯

박성빈
30

In [27]:
name13 = person.get('name11')

print(name13)

add13 = person.get('kor11')+person.get('eng11')+person.get('math11')

person['add11'] = person['kor11'] + person['eng11'] + person['math11']
    
                                # 더할때도 그냥 input을 더할게 아니라
                                # dict에서 값을 받아와서 더하자!
            
print(person['add11'])

박성빈
30

In [7]:
print('%s씨는 총점%d입니다.' %(name13, add13))

박성빈씨는 총점30입니다.

In [8]:
print(person)

{'name11': '박성빈', 'kor11': 10, 'eng11': 10, 'math11': 10, 'add11': 30}

In [139]:
personNew = dict()

for i in range(2) :
    
    name = input('이름을 주세요')
    kor = int(input('국어점수는?'))
    eng = int(input('영어점수는?'))
    math = int(input('수학점수는?'))
    
    personNew['name'] = name  
    personNew['kor'] = kor
    personNew['eng'] = eng
    personNew['math'] = math
    print(personNew)

print(personNew['name'])

이름을 주세요 11
국어점수는? 11
영어점수는? 11
수학점수는? 11

{'name': '11', 'kor': 11, 'eng': 11, 'math': 11}

이름을 주세요 22
국어점수는? 22
영어점수는? 22
수학점수는? 22

{'name': '22', 'kor': 22, 'eng': 22, 'math': 22}
22

###  리스트 만들기 지렸다 ㄷㄷ 이렇게 만드는거구나

In [29]:

person_list = list()

for i in range(2) :
    
    personNew = dict()
    
    name = input('이름을 주세요')
    kor = int(input('국어점수는?'))
    eng = int(input('영어점수는?'))
    math = int(input('수학점수는?'))
    
    personNew['name'] = name  
    personNew['kor'] = kor
    personNew['eng'] = eng
    personNew['math'] = math
    print(personNew)
    
    
    person_list.append(personNew)

   # personNew['name'].get(name)
    

print(personNew['name'])
print(person_list)

이름을 주세요 박성빈
국어점수는? 90
영어점수는? 80
수학점수는? 70

{'name': '박성빈', 'kor': 90, 'eng': 80, 'math': 70}

이름을 주세요 노현민
국어점수는? 60
영어점수는? 50
수학점수는? 40

{'name': '노현민', 'kor': 60, 'eng': 50, 'math': 40}
노현민
[{'name': '박성빈', 'kor': 90, 'eng': 80, 'math': 70}, {'name': '노현민', 'kor': 60, 'eng': 50, 'math': 40}]

In [40]:
print(person_list)

[{'name': '박성빈', 'kor': 90, 'eng': 80, 'math': 70}, {'name': '노현민', 'kor': 60, 'eng': 50, 'math': 40}]

In [41]:
for i in person_list : 
                               
    print(i.get('name'))

박성빈
노현민

In [49]:
for i in person_list : 
                               
    print(i.get('kor'))

90
60

In [44]:
print(type(i))

<class 'dict'>

In [47]:
print(personNew.get('kor'))

60

In [34]:
print(i.get('name'))

노현민

In [51]:
print(list(i.keys()))

['name', 'kor', 'eng', 'math']

In [52]:
print(list(i.values()))

['노현민', 60, 50, 40]