####  함수

In [1]:
def my_function() :
    print('-'*50)
    print('my funtion')
    print('-'*50)

In [5]:
my_function()

my_function()

print('끝')

--------------------------------------------------
my funtion
--------------------------------------------------
--------------------------------------------------
my funtion
--------------------------------------------------
끝

In [13]:

def my_function(n,m) : # 여기서 n 이 매개변수 이고 함수를 호출할때도
                    # my_function(10) 처럼 n에 인수(매개변수값)를
                    # 넣어줘야한다.
    print('-' *n)
    print(m)
    print('-' *n)

In [ ]:
def my_function(n,msg) : 
    
    print('-' *n)
    print(msg)
    print('-' *n)
     
                     #이때 msg가 같은데도 당연히 서로 다른 msg이고
                    # 다른 공간에 저장된다.
                    # 이를 로컬 변수 라고 한다. 굳.

In [17]:
def my_function(n) :
    print('-' *n)
    print('hello')
    print('-' *n) 
my_function(10)

----------
hello
----------

In [16]:
x = int(input('몇번할까'))
msg = input('바꿔봐')
my_function(x, msg)

몇번할까 10
바꿔봐 hello

----------
hello
----------

In [33]:
def my_add(n,m) :
    
    print('%d+%d= %d' %(n,m,(n+m)))

In [34]:
a1 = int(input('숫자를 주세요'))
a2 = int(input('숫자를 주세요'))

my_add(a1,a2)

숫자를 주세요 2
숫자를 주세요 3

2+3= 5

숫자 임의로 넣지않고 인풋받아서

함수를 4개를 만드는것. 합, 차 , 곱 , 나누기. => 매개변수는 2개씩 

함수 호출은 4번. 다 따로따로

In [42]:
def my_add1(n,m) :
    print('%d + %d = %d' %(n,m,(n+m)))

In [43]:
def my_sub(n,m) :
    print('%d - %d = %d' %(n, m, (n-m)))

In [44]:
def my_multi(n,m) :
    print('%d x %d = %d' %(n, m, (n*m)))

In [45]:
def my_divi(n,m) :
    print('%d / %d = %d' %(n, m, (n/m)))

In [46]:
a1 = int(input('숫자를 주세요'))
a2 = int(input('숫자를 주세요'))

my_add1(a1,a2)

숫자를 주세요 1
숫자를 주세요 2

1 + 2 = 3

In [52]:
a1 = int(input('숫자를 주세요'))
a2 = int(input('숫자를 주세요'))

my_sub(a1,a2)

숫자를 주세요 10
숫자를 주세요 5

10 - 5 = 5

In [48]:
a1 = int(input('숫자를 주세요'))
a2 = int(input('숫자를 주세요'))

my_multi(a1,a2)

숫자를 주세요 5
숫자를 주세요 7

5 x 7 = 35

In [49]:
a1 = int(input('숫자를 주세요'))
a2 = int(input('숫자를 주세요'))

my_divi(a1,a2)

숫자를 주세요 28
숫자를 주세요 4

28 / 4 = 7

In [59]:
def my_sub1(n,m) :
    if n>=m :
        print('%d - %d = %d' %(n, m, (n-m)))
    else :
        print('%d - %d = %d' %(m, n, (m-n)))

In [60]:
a1 = int(input('숫자를 주세요'))
a2 = int(input('숫자를 주세요'))

my_sub(a1,a2)

숫자를 주세요 10
숫자를 주세요 4

10 - 4 = 6

아무 숫자를 받아서 1부터 그 숫자까지 더하는 함수

In [176]:
i = 0
add=0
def new_add (add) :
    add = 0
    for i in range(ran):
        
        i = i +1
        add = add + i
        print(add)
        

    print('1부터 %d까지 합은 %d 입니다' %(ran, add))

In [177]:
ran = int(input('어디까지 더할까요?'))

new_add(ran)

어디까지 더할까요? 10

1
3
6
10
15
21
28
36
45
55
1부터 10까지 합은 55 입니다

In [1]:
def mAndn (list1):
    max1 = list1[0]
    i = 0
    
    for i in list1 :
        if i > max1 :
            max1 = i
    print(max1)
    
    min1 = list1[0]
    n=0
    for n in list1:
        if n < min1 :
            min1 = n
    print(min1)
    

    print('최대값은 %d 이고 최소값은 %d 입니다' %(max1,min1))

In [2]:
listNew1 = [ 1231, 45, 364, 12, 76 ]

mAndn(listNew1)

1231
12
최대값은 1231 이고 최소값은 12 입니다

In [4]:
print(type(mAndn))

<class 'function'>