In [73]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from time import sleep

driver = webdriver.Chrome('driver/chromedriver')


driver.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2020&mm=1&obs=9')
weather_list1 = list()

for i in range (4,8) : # for 문을 활용해서 데이터 정리를 해보자..
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))

# print(weather_list1)

C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3831438182.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('driver/chromedriver')
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3831438182.py:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3831438182.py:14: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3831438182.py:16: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3831438182.py:18: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3831438182.py:20: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))

In [33]:
import pandas as pd
New1 = pd.DataFrame(
    {'2020.1' : weather_list1[0].text,
     '2020.2' : weather_list1[1].text,
    '2020.3' : weather_list1[2].text,
    '2020.4' : weather_list1[3].text,
    '2020.5' : weather_list1[4].text,
    '2020.6' : weather_list1[5].text,
    '2020.7' : weather_list1[6].text,
    '2020.8' : weather_list1[7].text,
    '2020.9' : weather_list1[8].text,
    '2020.10' : weather_list1[9].text,
    '2020.11' : weather_list1[10].text,
    '2020.12' : weather_list1[11].text,
    '2020.13' : weather_list1[12].text,
    '2020.14' : weather_list1[13].text,
    '2020.15' : weather_list1[14].text,
    '2020.16' : weather_list1[15].text,
    '2020.17' : weather_list1[16].text,
    '2020.18' : weather_list1[17].text,
    '2020.19' : weather_list1[18].text,
    '2020.20' : weather_list1[19].text,
    '2020.21' : weather_list1[20].text,
    '2020.22' : weather_list1[21].text,
    '2020.23' : weather_list1[22].text,
    '2020.24' : weather_list1[23].text,
    '2020.25' : weather_list1[24].text,
    '2020.26' : weather_list1[25].text,
    '2020.27' : weather_list1[26].text,
    '2020.28' : weather_list1[27].text,
    '2020.29' : weather_list1[28].text,
    '2020.30' : weather_list1[29].text,
    '2020.31' : weather_list1[30].text 
    },
    index=[0])

New1

,2020.1,2020.2,2020.3,2020.4,2020.5,2020.6,2020.7,2020.8,2020.9,2020.10,...,2020.22,2020.23,2020.24,2020.25,2020.26,2020.27,2020.28,2020.29,2020.30,2020.31
0,눈\n박무\n연무,연무,박무\n연무,연무,연무,비\n눈\n진눈깨비\n박무,비\n박무,비\n진눈깨비\n박무,박무\n연무,박무\n연무,...,,연무,박무\n연무,연무,박무\n연무,비,비,햇무리,,비\n연무

In [34]:
ac= pd.read_csv('accident.csv','\t')


real1 = pd.concat([ac[1:2],New1])
real1

C:\Users\BIT\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,시도,사고월,구분,2020,2020.1,2020.2,2020.3,2020.4,2020.5,2020.6,...,2020.22,2020.23,2020.24,2020.25,2020.26,2020.27,2020.28,2020.29,2020.30,2020.31
1,서울,01월,사고건수,"2,788",53,95,79,78,68,113,...,125,106,60,66,49,66,78,85,89,93
0,NaN,NaN,NaN,NaN,눈\n박무\n연무,연무,박무\n연무,연무,연무,비\n눈\n진눈깨비\n박무,...,,연무,박무\n연무,연무,박무\n연무,비,비,햇무리,,비\n연무

In [152]:
Real1

         월      1                   0
시도       1     서울                 NaN
사고월      1    01월                 NaN
구분       1   사고건수                 NaN
2020     1  2,788                 NaN
2020.1   1     53           눈\n박무\n연무
2020.2   1     95                  연무
2020.3   1     79              박무\n연무
2020.4   1     78                  연무
2020.5   1     68                  연무
2020.6   1    113      비\n눈\n진눈깨비\n박무
2020.7   1    123               비\n박무
2020.8   1     93         비\n진눈깨비\n박무
2020.9   1    103              박무\n연무
2020.10  1     90              박무\n연무
2020.11  1     84              박무\n연무
2020.12  1     65                  연무
2020.13  1     96                  연무
2020.14  1    107
2020.15  1    108
2020.16  1     98                달코로나
2020.17  1     92                  연무
2020.18  1     98                  연무
2020.19  1     82  비\n눈\n진눈깨비\n박무\n연무
2020.20  1    110                  연무
2020.21  1    136                  채운
2020.22  1    125
2020.23  1    106                  연무
2020.24  1     60              박무\n연무
2020.25  1     66                  연무
2020.26  1     49              박무\n연무
2020.27  1     66                   비
2020.28  1     78                   비
2020.29  1     85                 햇무리
2020.30  1     89
2020.31  1     93               비\n연무

In [160]:
Real1 = real1.transpose()

Real1.insert(0,'월',['1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1'])
Real1 =Real1.drop(Real1.index[0])

In [165]:
Real1 =Real1.drop(Real1.index[0])

In [174]:
Real1 = Real1.rename(index={'2020.1' : '1','2020.2' : '2','2020.3' : '3','2020.4' : '4','2020.5' : '5','2020.6' : '6','2020.7' : '7','2020.8' : '8','2020.9' : '9','2020.10' : '10','2020.11' : '11','2020.12' : '12','2020.13' : '13','2020.14' : '14','2020.15' : '15','2020.16' : '16','2020.17' : '17','2020.18' : '18','2020.19' : '19','2020.20' : '20','2020.21' : '21','2020.22' : '22','2020.23' : '23','2020.24' : '24','2020.25' : '25','2020.26' : '26','2020.27' : '27','2020.28' : '28','2020.29' : '29','2020.30' : '30','2020.31' : '31'})

In [267]:
Real1

    월    1                   0
1   1   53           눈\n박무\n연무
2   1   95                  연무
3   1   79              박무\n연무
4   1   78                  연무
5   1   68                  연무
6   1  113      비\n눈\n진눈깨비\n박무
7   1  123               비\n박무
8   1   93         비\n진눈깨비\n박무
9   1  103              박무\n연무
10  1   90              박무\n연무
11  1   84              박무\n연무
12  1   65                  연무
13  1   96                  연무
14  1  107
15  1  108
16  1   98                달코로나
17  1   92                  연무
18  1   98                  연무
19  1   82  비\n눈\n진눈깨비\n박무\n연무
20  1  110                  연무
21  1  136                  채운
22  1  125
23  1  106                  연무
24  1   60              박무\n연무
25  1   66                  연무
26  1   49              박무\n연무
27  1   66                   비
28  1   78                   비
29  1   85                 햇무리
30  1   89
31  1   93               비\n연무

In [35]:
real1.to_csv('real1.csv')

In [124]:
driver = webdriver.Chrome('driver/chromedriver')


driver.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2020&mm=2&obs=9')
weather_list1 = list()

for i in range (7,8) : # for 문을 활용해서 데이터 정리를 해보자..
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))

C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/999597403.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('driver/chromedriver')
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/999597403.py:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/999597403.py:10: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/999597403.py:12: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/999597403.py:14: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/999597403.py:16: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))

In [126]:
import pandas as pd
New1 = pd.DataFrame(
    {'2020.1' : weather_list1[0].text,
     '2020.2' : weather_list1[1].text,
    '2020.3' : weather_list1[2].text,
    '2020.4' : weather_list1[3].text,
    '2020.5' : weather_list1[4].text,
    '2020.6' : weather_list1[5].text,
    '2020.7' : weather_list1[6].text,
    '2020.8' : weather_list1[7].text,
    '2020.9' : weather_list1[8].text,
    '2020.10' : weather_list1[9].text,
    '2020.11' : weather_list1[10].text,
    '2020.12' : weather_list1[11].text,
    '2020.13' : weather_list1[12].text,
    '2020.14' : weather_list1[13].text,
    '2020.15' : weather_list1[14].text,
    '2020.16' : weather_list1[15].text,
    '2020.17' : weather_list1[16].text,
    '2020.18' : weather_list1[17].text,
    '2020.19' : weather_list1[18].text,
    '2020.20' : weather_list1[19].text,
    '2020.21' : weather_list1[20].text,
    '2020.22' : weather_list1[21].text,
    '2020.23' : weather_list1[22].text,
    '2020.24' : weather_list1[23].text,
    '2020.25' : weather_list1[24].text,
    '2020.26' : weather_list1[25].text,
    '2020.27' : weather_list1[26].text,
    '2020.28' : weather_list1[27].text,
    '2020.29' : weather_list1[28].text,
    },
    index=[0])

New1

,2020.1,2020.2,2020.3,2020.4,2020.5,2020.6,2020.7,2020.8,2020.9,2020.10,...,2020.20,2020.21,2020.22,2020.23,2020.24,2020.25,2020.26,2020.27,2020.28,2020.29
0,박무\n연무,연무,눈,눈\n박무,,,눈,눈\n연무,눈,눈\n연무,...,박무\n연무,비\n박무\n연무,비\n진눈깨비\n박무\n연무\n황사,,,비\n박무\n연무,비,,비\n안개비\n박무,안개비\n박무

In [127]:
ac= pd.read_csv('accident.csv','\t')

real2 = pd.concat([ac[4:5],New1])
real2

C:\Users\BIT\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,시도,사고월,구분,2020,2020.1,2020.2,2020.3,2020.4,2020.5,2020.6,...,2020.22,2020.23,2020.24,2020.25,2020.26,2020.27,2020.28,2020.29,2020.30,2020.31
4,서울,02월,사고건수,"2,999",76,52,115,104,128,122,...,90,69,104,80,83,64,82,74,-,-
0,NaN,NaN,NaN,NaN,박무\n연무,연무,눈,눈\n박무,,,...,비\n진눈깨비\n박무\n연무\n황사,,,비\n박무\n연무,비,,비\n안개비\n박무,안개비\n박무,NaN,NaN

In [176]:
Real2 = real2.transpose()
Real2 = Real2.rename(columns = { 4 : 1 })
# Real2

In [179]:
Real2.insert(0,'월',['2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2'])
Real2 =Real2.drop(Real2.index[0])
# Real2

ValueError: cannot insert 월, already exists

In [180]:
Real2 = Real2.rename(index={'2020.1' : '1','2020.2' : '2','2020.3' : '3','2020.4' : '4','2020.5' : '5','2020.6' : '6','2020.7' : '7','2020.8' : '8','2020.9' : '9','2020.10' : '10','2020.11' : '11','2020.12' : '12','2020.13' : '13','2020.14' : '14','2020.15' : '15','2020.16' : '16','2020.17' : '17','2020.18' : '18','2020.19' : '19','2020.20' : '20','2020.21' : '21','2020.22' : '22','2020.23' : '23','2020.24' : '24','2020.25' : '25','2020.26' : '26','2020.27' : '27','2020.28' : '28','2020.29' : '29','2020.30' : '30','2020.31' : '31'})
Real2

      월      1                    0
사고월   2    02월                  NaN
구분    2   사고건수                  NaN
2020  2  2,999                  NaN
1     2     76               박무\n연무
2     2     52                   연무
3     2    115                    눈
4     2    104                눈\n박무
5     2    128
6     2    122
7     2    159                    눈
8     2    106                눈\n연무
9     2     86                    눈
10    2    100                눈\n연무
11    2    114
12    2    100       비\n안개비\n박무\n연무
13    2    109               안개\n박무
14    2     97               박무\n연무
15    2     91            비\n박무\n연무
16    2     98       비\n눈\n진눈깨비\n박무
17    2    114            눈\n박무\n연무
18    2    166
19    2    145                   연무
20    2    156               박무\n연무
21    2    115            비\n박무\n연무
22    2     90  비\n진눈깨비\n박무\n연무\n황사
23    2     69
24    2    104
25    2     80            비\n박무\n연무
26    2     83                    비
27    2     64
28    2     82           비\n안개비\n박무
29    2     74              안개비\n박무
30    2      -                  NaN
31    2      -                  NaN

In [181]:
Real2 =Real2.drop(Real2.index[0])
Real2

      월      1                    0
구분    2   사고건수                  NaN
2020  2  2,999                  NaN
1     2     76               박무\n연무
2     2     52                   연무
3     2    115                    눈
4     2    104                눈\n박무
5     2    128
6     2    122
7     2    159                    눈
8     2    106                눈\n연무
9     2     86                    눈
10    2    100                눈\n연무
11    2    114
12    2    100       비\n안개비\n박무\n연무
13    2    109               안개\n박무
14    2     97               박무\n연무
15    2     91            비\n박무\n연무
16    2     98       비\n눈\n진눈깨비\n박무
17    2    114            눈\n박무\n연무
18    2    166
19    2    145                   연무
20    2    156               박무\n연무
21    2    115            비\n박무\n연무
22    2     90  비\n진눈깨비\n박무\n연무\n황사
23    2     69
24    2    104
25    2     80            비\n박무\n연무
26    2     83                    비
27    2     64
28    2     82           비\n안개비\n박무
29    2     74              안개비\n박무
30    2      -                  NaN
31    2      -                  NaN

In [182]:
Real2 =Real2.drop(Real2.index[0])
Real2

      월      1                    0
2020  2  2,999                  NaN
1     2     76               박무\n연무
2     2     52                   연무
3     2    115                    눈
4     2    104                눈\n박무
5     2    128
6     2    122
7     2    159                    눈
8     2    106                눈\n연무
9     2     86                    눈
10    2    100                눈\n연무
11    2    114
12    2    100       비\n안개비\n박무\n연무
13    2    109               안개\n박무
14    2     97               박무\n연무
15    2     91            비\n박무\n연무
16    2     98       비\n눈\n진눈깨비\n박무
17    2    114            눈\n박무\n연무
18    2    166
19    2    145                   연무
20    2    156               박무\n연무
21    2    115            비\n박무\n연무
22    2     90  비\n진눈깨비\n박무\n연무\n황사
23    2     69
24    2    104
25    2     80            비\n박무\n연무
26    2     83                    비
27    2     64
28    2     82           비\n안개비\n박무
29    2     74              안개비\n박무
30    2      -                  NaN
31    2      -                  NaN

In [183]:
Real2 =Real2.drop(Real2.index[0])
Real2

    월    1                    0
1   2   76               박무\n연무
2   2   52                   연무
3   2  115                    눈
4   2  104                눈\n박무
5   2  128
6   2  122
7   2  159                    눈
8   2  106                눈\n연무
9   2   86                    눈
10  2  100                눈\n연무
11  2  114
12  2  100       비\n안개비\n박무\n연무
13  2  109               안개\n박무
14  2   97               박무\n연무
15  2   91            비\n박무\n연무
16  2   98       비\n눈\n진눈깨비\n박무
17  2  114            눈\n박무\n연무
18  2  166
19  2  145                   연무
20  2  156               박무\n연무
21  2  115            비\n박무\n연무
22  2   90  비\n진눈깨비\n박무\n연무\n황사
23  2   69
24  2  104
25  2   80            비\n박무\n연무
26  2   83                    비
27  2   64
28  2   82           비\n안개비\n박무
29  2   74              안개비\n박무
30  2    -                  NaN
31  2    -                  NaN

In [ ]:
real2

In [37]:
real2.to_csv('real2.csv')

In [40]:
realAll = pd.concat([real1,real2])
realAll

,시도,사고월,구분,2020,2020.1,2020.2,2020.3,2020.4,2020.5,2020.6,...,2020.22,2020.23,2020.24,2020.25,2020.26,2020.27,2020.28,2020.29,2020.30,2020.31
1,서울,01월,사고건수,"2,788",53,95,79,78,68,113,...,125,106,60,66,49,66,78,85,89,93
0,NaN,NaN,NaN,NaN,눈\n박무\n연무,연무,박무\n연무,연무,연무,비\n눈\n진눈깨비\n박무,...,,연무,박무\n연무,연무,박무\n연무,비,비,햇무리,,비\n연무
4,서울,02월,사고건수,"2,999",76,52,115,104,128,122,...,90,69,104,80,83,64,82,74,-,-
0,NaN,NaN,NaN,NaN,박무\n연무,연무,눈,눈\n박무,,,...,비\n진눈깨비\n박무\n연무\n황사,,,비\n박무\n연무,비,,비\n안개비\n박무,안개비\n박무,NaN,NaN

In [41]:
realAll.to_csv('realAll.csv')

In [177]:
# 3월

In [46]:
from selenium import webdriver
driver = webdriver.Chrome('driver/chromedriver')


driver.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2020&mm=3&obs=9')
weather_list1 = list()

for i in range (1,8) : # for 문을 활용해서 데이터 정리를 해보자..
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))

import pandas as pd
New1 = pd.DataFrame(
    {'2020.1' : weather_list1[0].text,
     '2020.2' : weather_list1[1].text,
    '2020.3' : weather_list1[2].text,
    '2020.4' : weather_list1[3].text,
    '2020.5' : weather_list1[4].text,
    '2020.6' : weather_list1[5].text,
    '2020.7' : weather_list1[6].text,
    '2020.8' : weather_list1[7].text,
    '2020.9' : weather_list1[8].text,
    '2020.10' : weather_list1[9].text,
    '2020.11' : weather_list1[10].text,
    '2020.12' : weather_list1[11].text,
    '2020.13' : weather_list1[12].text,
    '2020.14' : weather_list1[13].text,
    '2020.15' : weather_list1[14].text,
    '2020.16' : weather_list1[15].text,
    '2020.17' : weather_list1[16].text,
    '2020.18' : weather_list1[17].text,
    '2020.19' : weather_list1[18].text,
    '2020.20' : weather_list1[19].text,
    '2020.21' : weather_list1[20].text,
    '2020.22' : weather_list1[21].text,
    '2020.23' : weather_list1[22].text,
    '2020.24' : weather_list1[23].text,
    '2020.25' : weather_list1[24].text,
    '2020.26' : weather_list1[25].text,
    '2020.27' : weather_list1[26].text,
    '2020.28' : weather_list1[27].text,
    '2020.29' : weather_list1[28].text,
    '2020.30' : weather_list1[29].text,
    '2020.31' : weather_list1[30].text 
    },
    index=[0])

New1

ac= pd.read_csv('accident.csv','\t')

real3 = pd.concat([ac[7:8],New1])

C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/4194213920.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('driver/chromedriver')
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/4194213920.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/4194213920.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/4194213920.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/4194213920.py:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/4194213920.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))

In [187]:
Real3 = real3.transpose()
Real3 = Real3.rename(columns = { 7 : 1 })
Real3

             1               0
시도          서울             NaN
사고월        03월             NaN
구분        사고건수             NaN
2020     2,561             NaN
2020.1      48  비\n안개비\n박무\n연무
2020.2      69       비\n박무\n연무
2020.3      72              연무
2020.4      66        비\n눈\n연무
2020.5      77              연무
2020.6      88
2020.7      65              연무
2020.8      55              연무
2020.9      87              연무
2020.10     92       비\n박무\n연무
2020.11     89
2020.12     87
2020.13    100       비\n박무\n연무
2020.14     73              연무
2020.15     48          박무\n연무
2020.16     92
2020.17     92              연무
2020.18     87          박무\n연무
2020.19     77           비\n연무
2020.20    100
2020.21     92              연무
2020.22     66          박무\n연무
2020.23     96
2020.24     94              연무
2020.25     95             햇무리
2020.26     96       비\n박무\n연무
2020.27    109       비\n박무\n연무
2020.28     87             햇무리
2020.29     69
2020.30     95              연무
2020.31     98

In [188]:
Real3.insert(0,'월',['3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3'])

In [189]:
Real3

         월      1               0
시도       3     서울             NaN
사고월      3    03월             NaN
구분       3   사고건수             NaN
2020     3  2,561             NaN
2020.1   3     48  비\n안개비\n박무\n연무
2020.2   3     69       비\n박무\n연무
2020.3   3     72              연무
2020.4   3     66        비\n눈\n연무
2020.5   3     77              연무
2020.6   3     88
2020.7   3     65              연무
2020.8   3     55              연무
2020.9   3     87              연무
2020.10  3     92       비\n박무\n연무
2020.11  3     89
2020.12  3     87
2020.13  3    100       비\n박무\n연무
2020.14  3     73              연무
2020.15  3     48          박무\n연무
2020.16  3     92
2020.17  3     92              연무
2020.18  3     87          박무\n연무
2020.19  3     77           비\n연무
2020.20  3    100
2020.21  3     92              연무
2020.22  3     66          박무\n연무
2020.23  3     96
2020.24  3     94              연무
2020.25  3     95             햇무리
2020.26  3     96       비\n박무\n연무
2020.27  3    109       비\n박무\n연무
2020.28  3     87             햇무리
2020.29  3     69
2020.30  3     95              연무
2020.31  3     98

In [190]:
Real3 =Real3.drop(Real3.index[0])
Real3

         월      1               0
사고월      3    03월             NaN
구분       3   사고건수             NaN
2020     3  2,561             NaN
2020.1   3     48  비\n안개비\n박무\n연무
2020.2   3     69       비\n박무\n연무
2020.3   3     72              연무
2020.4   3     66        비\n눈\n연무
2020.5   3     77              연무
2020.6   3     88
2020.7   3     65              연무
2020.8   3     55              연무
2020.9   3     87              연무
2020.10  3     92       비\n박무\n연무
2020.11  3     89
2020.12  3     87
2020.13  3    100       비\n박무\n연무
2020.14  3     73              연무
2020.15  3     48          박무\n연무
2020.16  3     92
2020.17  3     92              연무
2020.18  3     87          박무\n연무
2020.19  3     77           비\n연무
2020.20  3    100
2020.21  3     92              연무
2020.22  3     66          박무\n연무
2020.23  3     96
2020.24  3     94              연무
2020.25  3     95             햇무리
2020.26  3     96       비\n박무\n연무
2020.27  3    109       비\n박무\n연무
2020.28  3     87             햇무리
2020.29  3     69
2020.30  3     95              연무
2020.31  3     98

In [191]:
Real3 = Real3.rename(index={'2020.1' : '1','2020.2' : '2','2020.3' : '3','2020.4' : '4','2020.5' : '5','2020.6' : '6','2020.7' : '7','2020.8' : '8','2020.9' : '9','2020.10' : '10','2020.11' : '11','2020.12' : '12','2020.13' : '13','2020.14' : '14','2020.15' : '15','2020.16' : '16','2020.17' : '17','2020.18' : '18','2020.19' : '19','2020.20' : '20','2020.21' : '21','2020.22' : '22','2020.23' : '23','2020.24' : '24','2020.25' : '25','2020.26' : '26','2020.27' : '27','2020.28' : '28','2020.29' : '29','2020.30' : '30','2020.31' : '31'})

In [192]:
Real3 =Real3.drop(Real3.index[0])

In [193]:
Real3 =Real3.drop(Real3.index[0])

In [194]:
Real3 =Real3.drop(Real3.index[0])

In [195]:
Real3

    월    1               0
1   3   48  비\n안개비\n박무\n연무
2   3   69       비\n박무\n연무
3   3   72              연무
4   3   66        비\n눈\n연무
5   3   77              연무
6   3   88
7   3   65              연무
8   3   55              연무
9   3   87              연무
10  3   92       비\n박무\n연무
11  3   89
12  3   87
13  3  100       비\n박무\n연무
14  3   73              연무
15  3   48          박무\n연무
16  3   92
17  3   92              연무
18  3   87          박무\n연무
19  3   77           비\n연무
20  3  100
21  3   92              연무
22  3   66          박무\n연무
23  3   96
24  3   94              연무
25  3   95             햇무리
26  3   96       비\n박무\n연무
27  3  109       비\n박무\n연무
28  3   87             햇무리
29  3   69
30  3   95              연무
31  3   98

# realAll = pd.concat([real1,real2,real3])

# realAll.to_csv('realAll.csv')

In [52]:
# 4월

In [50]:
from selenium import webdriver
driver = webdriver.Chrome('driver/chromedriver')


driver.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2020&mm=4&obs=9')
weather_list1 = list()

for i in range (4,8) : # for 문을 활용해서 데이터 정리를 해보자..
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))

import pandas as pd
New1 = pd.DataFrame(
    {'2020.1' : weather_list1[0].text,
     '2020.2' : weather_list1[1].text,
    '2020.3' : weather_list1[2].text,
    '2020.4' : weather_list1[3].text,
    '2020.5' : weather_list1[4].text,
    '2020.6' : weather_list1[5].text,
    '2020.7' : weather_list1[6].text,
    '2020.8' : weather_list1[7].text,
    '2020.9' : weather_list1[8].text,
    '2020.10' : weather_list1[9].text,
    '2020.11' : weather_list1[10].text,
    '2020.12' : weather_list1[11].text,
    '2020.13' : weather_list1[12].text,
    '2020.14' : weather_list1[13].text,
    '2020.15' : weather_list1[14].text,
    '2020.16' : weather_list1[15].text,
    '2020.17' : weather_list1[16].text,
    '2020.18' : weather_list1[17].text,
    '2020.19' : weather_list1[18].text,
    '2020.20' : weather_list1[19].text,
    '2020.21' : weather_list1[20].text,
    '2020.22' : weather_list1[21].text,
    '2020.23' : weather_list1[22].text,
    '2020.24' : weather_list1[23].text,
    '2020.25' : weather_list1[24].text,
    '2020.26' : weather_list1[25].text,
    '2020.27' : weather_list1[26].text,
    '2020.28' : weather_list1[27].text,
    '2020.29' : weather_list1[28].text,
    '2020.30' : weather_list1[29].text,
    '2020.31' : weather_list1[30].text 
    },
    index=[0])

New1

ac= pd.read_csv('accident.csv','\t')

real4 = pd.concat([ac[10:11],New1])

C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/350154284.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('driver/chromedriver')
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/350154284.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/350154284.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/350154284.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/350154284.py:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/350154284.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))

In [134]:
Real4 = real4.transpose()
Real4 = Real4.rename(columns = { 10 : 1 })
# Real4

In [51]:
realAll = pd.concat([real1,real2,real3,real4])

realAll.to_csv('realAll.csv')

In [196]:
Real4.insert(0,'월',['4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4'])

In [197]:
Real4 =Real4.drop(Real4.index[0])

In [198]:
Real4 =Real4.drop(Real4.index[0])

In [199]:
Real4 =Real4.drop(Real4.index[0])

In [200]:
Real4 = Real4.rename(index={'2020.1' : '1','2020.2' : '2','2020.3' : '3','2020.4' : '4','2020.5' : '5','2020.6' : '6','2020.7' : '7','2020.8' : '8','2020.9' : '9','2020.10' : '10','2020.11' : '11','2020.12' : '12','2020.13' : '13','2020.14' : '14','2020.15' : '15','2020.16' : '16','2020.17' : '17','2020.18' : '18','2020.19' : '19','2020.20' : '20','2020.21' : '21','2020.22' : '22','2020.23' : '23','2020.24' : '24','2020.25' : '25','2020.26' : '26','2020.27' : '27','2020.28' : '28','2020.29' : '29','2020.30' : '30','2020.31' : '31'})

In [202]:
Real4 =Real4.drop(Real4.index[0])

In [203]:
Real4

    월    1            0
1   4   81           연무
2   4  105
3   4   98       박무\n연무
4   4   80       박무\n연무
5   4   65
6   4   94
7   4   87       박무\n연무
8   4   94
9   4  113
10  4   85
11  4   83      박무\n햇무리
12  4   61           박무
13  4  106
14  4  101
15  4   84           연무
16  4   89
17  4   84   비\n소나기\n박무
18  4   77           박무
19  4   65        비\n박무
20  4   91        비\n박무
21  4   81
22  4   93  비\n진눈깨비\n황사
23  4  102
24  4  110
25  4  109       연무\n채운
26  4   74
27  4  112
28  4  102           연무
29  4  122       박무\n연무
30  4   76           박무
31  4    -

In [53]:
# 5월

In [56]:
from selenium import webdriver
driver = webdriver.Chrome('driver/chromedriver')


driver.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2020&mm=5&obs=9')
weather_list1 = list()

for i in range (6,8) : # for 문을 활용해서 데이터 정리를 해보자..
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))
import pandas as pd
New1 = pd.DataFrame(
    {'2020.1' : weather_list1[0].text,
     '2020.2' : weather_list1[1].text,
    '2020.3' : weather_list1[2].text,
    '2020.4' : weather_list1[3].text,
    '2020.5' : weather_list1[4].text,
    '2020.6' : weather_list1[5].text,
    '2020.7' : weather_list1[6].text,
    '2020.8' : weather_list1[7].text,
    '2020.9' : weather_list1[8].text,
    '2020.10' : weather_list1[9].text,
    '2020.11' : weather_list1[10].text,
    '2020.12' : weather_list1[11].text,
    '2020.13' : weather_list1[12].text,
    '2020.14' : weather_list1[13].text,
    '2020.15' : weather_list1[14].text,
    '2020.16' : weather_list1[15].text,
    '2020.17' : weather_list1[16].text,
    '2020.18' : weather_list1[17].text,
    '2020.19' : weather_list1[18].text,
    '2020.20' : weather_list1[19].text,
    '2020.21' : weather_list1[20].text,
    '2020.22' : weather_list1[21].text,
    '2020.23' : weather_list1[22].text,
    '2020.24' : weather_list1[23].text,
    '2020.25' : weather_list1[24].text,
    '2020.26' : weather_list1[25].text,
    '2020.27' : weather_list1[26].text,
    '2020.28' : weather_list1[27].text,
    '2020.29' : weather_list1[28].text,
    '2020.30' : weather_list1[29].text,
    '2020.31' : weather_list1[30].text 
    },
    index=[0])

New1

ac= pd.read_csv('accident.csv','\t')

real5 = pd.concat([ac[13:14],New1])

C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3817246230.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('driver/chromedriver')
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3817246230.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3817246230.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3817246230.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3817246230.py:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3817246230.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3817246230.py:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))

In [135]:
Real5 = real5.transpose()
Real5 = Real5.rename(columns = { 13 : 1 })

In [57]:
realAll = pd.concat([real1,real2,real3,real4,real5])

realAll.to_csv('realAll.csv')

In [204]:
Real5.insert(0,'월',['5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5'])

In [205]:
Real5 =Real5.drop(Real5.index[0])

In [206]:
Real5 =Real5.drop(Real5.index[0])

In [207]:
Real5 =Real5.drop(Real5.index[0])

In [208]:
Real5 =Real5.drop(Real5.index[0])

In [209]:
Real5 = Real5.rename(index={'2020.1' : '1','2020.2' : '2','2020.3' : '3','2020.4' : '4','2020.5' : '5','2020.6' : '6','2020.7' : '7','2020.8' : '8','2020.9' : '9','2020.10' : '10','2020.11' : '11','2020.12' : '12','2020.13' : '13','2020.14' : '14','2020.15' : '15','2020.16' : '16','2020.17' : '17','2020.18' : '18','2020.19' : '19','2020.20' : '20','2020.21' : '21','2020.22' : '22','2020.23' : '23','2020.24' : '24','2020.25' : '25','2020.26' : '26','2020.27' : '27','2020.28' : '28','2020.29' : '29','2020.30' : '30','2020.31' : '31'})

In [210]:
Real5

    월    1                    0
1   5   79               박무\n연무
2   5   85                비\n박무
3   5   65                비\n박무
4   5  110
5   5   61                   연무
6   5  130                  달무리
7   5  122                  달무리
8   5  161                비\n박무
9   5  103           비\n안개비\n박무
10  5   69              안개비\n박무
11  5  124        비\n박무\n연무\n황사
12  5   90            비\n박무\n연무
13  5  102
14  5  113
15  5  122                비\n박무
16  5   87           비\n안개비\n박무
17  5   89          안개비\n박무\n연무
18  5  119       비\n소나기\n박무\n연무
19  5   85                비\n박무
20  5  111                    비
21  5  112
22  5  115            비\n박무\n연무
23  5   96            비\n박무\n연무
24  5   73  비\n안개비\n소나기\n박무\n연무
25  5  113               박무\n연무
26  5   92            비\n박무\n연무
27  5   98                   박무
28  5   99                비\n박무
29  5  126                   박무
30  5  107                   연무
31  5   81            비\n박무\n연무

In [58]:
# 6월

In [59]:
from selenium import webdriver
driver = webdriver.Chrome('driver/chromedriver')


driver.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2020&mm=6&obs=9')
weather_list1 = list()

for i in range (2,8) : # for 문을 활용해서 데이터 정리를 해보자..
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))
import pandas as pd
New1 = pd.DataFrame(
    {'2020.1' : weather_list1[0].text,
     '2020.2' : weather_list1[1].text,
    '2020.3' : weather_list1[2].text,
    '2020.4' : weather_list1[3].text,
    '2020.5' : weather_list1[4].text,
    '2020.6' : weather_list1[5].text,
    '2020.7' : weather_list1[6].text,
    '2020.8' : weather_list1[7].text,
    '2020.9' : weather_list1[8].text,
    '2020.10' : weather_list1[9].text,
    '2020.11' : weather_list1[10].text,
    '2020.12' : weather_list1[11].text,
    '2020.13' : weather_list1[12].text,
    '2020.14' : weather_list1[13].text,
    '2020.15' : weather_list1[14].text,
    '2020.16' : weather_list1[15].text,
    '2020.17' : weather_list1[16].text,
    '2020.18' : weather_list1[17].text,
    '2020.19' : weather_list1[18].text,
    '2020.20' : weather_list1[19].text,
    '2020.21' : weather_list1[20].text,
    '2020.22' : weather_list1[21].text,
    '2020.23' : weather_list1[22].text,
    '2020.24' : weather_list1[23].text,
    '2020.25' : weather_list1[24].text,
    '2020.26' : weather_list1[25].text,
    '2020.27' : weather_list1[26].text,
    '2020.28' : weather_list1[27].text,
    '2020.29' : weather_list1[28].text,
    '2020.30' : weather_list1[29].text,
    '2020.31' : weather_list1[30].text 
    },
    index=[0])

New1

ac= pd.read_csv('accident.csv','\t')

real6 = pd.concat([ac[16:17],New1])

C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/1973710448.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('driver/chromedriver')
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/1973710448.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/1973710448.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/1973710448.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/1973710448.py:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/1973710448.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/1973710448.py:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))

In [136]:
Real6 = real6.transpose()
Real6 = Real6.rename(columns = { 16 : 1 })

In [211]:
Real6.insert(0,'월',['6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6'])

In [212]:
Real6 =Real6.drop(Real6.index[0])

In [213]:
Real6 =Real6.drop(Real6.index[0])

In [214]:
Real6 =Real6.drop(Real6.index[0])

In [215]:
Real6 =Real6.drop(Real6.index[0])

In [216]:
Real6 = Real6.rename(index={'2020.1' : '1','2020.2' : '2','2020.3' : '3','2020.4' : '4','2020.5' : '5','2020.6' : '6','2020.7' : '7','2020.8' : '8','2020.9' : '9','2020.10' : '10','2020.11' : '11','2020.12' : '12','2020.13' : '13','2020.14' : '14','2020.15' : '15','2020.16' : '16','2020.17' : '17','2020.18' : '18','2020.19' : '19','2020.20' : '20','2020.21' : '21','2020.22' : '22','2020.23' : '23','2020.24' : '24','2020.25' : '25','2020.26' : '26','2020.27' : '27','2020.28' : '28','2020.29' : '29','2020.30' : '30','2020.31' : '31'})

In [217]:
Real6

    월    1               0
1   6  119      비\n안개비\n박무
2   6   87           비\n박무
3   6  109          박무\n연무
4   6  106     안개비\n박무\n연무
5   6  119          박무\n연무
6   6   88              연무
7   6   79          박무\n연무
8   6  123          박무\n연무
9   6  115
10  6  141           비\n박무
11  6  100           비\n박무
12  6  117              연무
13  6  111               비
14  6   78  비\n안개비\n박무\n연무
15  6  112              박무
16  6  119          박무\n연무
17  6   94              연무
18  6  116
19  6  137          비\n소나기
20  6  103              연무
21  6   71          박무\n연무
22  6   95
23  6  136               비
24  6  116           비\n박무
25  6  112      비\n안개비\n박무
26  6  114         안개비\n박무
27  6  103       비\n박무\n연무
28  6   75              박무
29  6   98       비\n박무\n연무
30  6   96           비\n박무
31  6    -

In [62]:
#7월

In [67]:
from selenium import webdriver
driver = webdriver.Chrome('driver/chromedriver')


driver.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2020&mm=7&obs=9')
weather_list1 = list()

for i in range (4,8) : # for 문을 활용해서 데이터 정리를 해보자..
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))
import pandas as pd
New1 = pd.DataFrame(
    {'2020.1' : weather_list1[0].text,
     '2020.2' : weather_list1[1].text,
    '2020.3' : weather_list1[2].text,
    '2020.4' : weather_list1[3].text,
    '2020.5' : weather_list1[4].text,
    '2020.6' : weather_list1[5].text,
    '2020.7' : weather_list1[6].text,
    '2020.8' : weather_list1[7].text,
    '2020.9' : weather_list1[8].text,
    '2020.10' : weather_list1[9].text,
    '2020.11' : weather_list1[10].text,
    '2020.12' : weather_list1[11].text,
    '2020.13' : weather_list1[12].text,
    '2020.14' : weather_list1[13].text,
    '2020.15' : weather_list1[14].text,
    '2020.16' : weather_list1[15].text,
    '2020.17' : weather_list1[16].text,
    '2020.18' : weather_list1[17].text,
    '2020.19' : weather_list1[18].text,
    '2020.20' : weather_list1[19].text,
    '2020.21' : weather_list1[20].text,
    '2020.22' : weather_list1[21].text,
    '2020.23' : weather_list1[22].text,
    '2020.24' : weather_list1[23].text,
    '2020.25' : weather_list1[24].text,
    '2020.26' : weather_list1[25].text,
    '2020.27' : weather_list1[26].text,
    '2020.28' : weather_list1[27].text,
    '2020.29' : weather_list1[28].text,
    '2020.30' : weather_list1[29].text,
    '2020.31' : weather_list1[30].text 
    },
    index=[0])

New1

ac= pd.read_csv('accident.csv','\t')

real7 = pd.concat([ac[19:20],New1])

C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/1762367431.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('driver/chromedriver')
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/1762367431.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/1762367431.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/1762367431.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/1762367431.py:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/1762367431.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/1762367431.py:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))

In [137]:
Real7 = real7.transpose()
Real7 = Real7.rename(columns = { 19 : 1 })

In [218]:
Real7.insert(0,'월',['7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7'])

In [219]:
Real7 =Real7.drop(Real7.index[0])

In [220]:
Real7 =Real7.drop(Real7.index[0])

In [221]:
Real7 =Real7.drop(Real7.index[0])

In [222]:
Real7 =Real7.drop(Real7.index[0])

In [223]:
Real7 = Real7.rename(index={'2020.1' : '1','2020.2' : '2','2020.3' : '3','2020.4' : '4','2020.5' : '5','2020.6' : '6','2020.7' : '7','2020.8' : '8','2020.9' : '9','2020.10' : '10','2020.11' : '11','2020.12' : '12','2020.13' : '13','2020.14' : '14','2020.15' : '15','2020.16' : '16','2020.17' : '17','2020.18' : '18','2020.19' : '19','2020.20' : '20','2020.21' : '21','2020.22' : '22','2020.23' : '23','2020.24' : '24','2020.25' : '25','2020.26' : '26','2020.27' : '27','2020.28' : '28','2020.29' : '29','2020.30' : '30','2020.31' : '31'})

In [224]:
Real7

    월    1               0
1   7   85       비\n박무\n연무
2   7   96          박무\n연무
3   7  129           비\n박무
4   7  107           비\n박무
5   7   77          박무\n연무
6   7   84
7   7   92               비
8   7   99          박무\n연무
9   7   96          박무\n연무
10  7  124               비
11  7  114
12  7  102           비\n박무
13  7   98      비\n소나기\n박무
14  7  123      비\n소나기\n박무
15  7  114
16  7  102
17  7  123           비\n연무
18  7  102          박무\n연무
19  7   79           비\n박무
20  7  102           비\n박무
21  7  104         안개비\n박무
22  7   91           비\n박무
23  7  130      비\n소나기\n박무
24  7   94               비
25  7  106               비
26  7   71           비\n채운
27  7   86           비\n박무
28  7   90           비\n박무
29  7  124           비\n박무
30  7  100           비\n박무
31  7  118  비\n소나기\n박무\n연무

In [63]:
#8월

In [68]:
from selenium import webdriver
driver = webdriver.Chrome('driver/chromedriver')


driver.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2020&mm=8&obs=9')
weather_list1 = list()

for i in range (7,8) : # for 문을 활용해서 데이터 정리를 해보자..
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))
import pandas as pd
New1 = pd.DataFrame(
    {'2020.1' : weather_list1[0].text,
     '2020.2' : weather_list1[1].text,
    '2020.3' : weather_list1[2].text,
    '2020.4' : weather_list1[3].text,
    '2020.5' : weather_list1[4].text,
    '2020.6' : weather_list1[5].text,
    '2020.7' : weather_list1[6].text,
    '2020.8' : weather_list1[7].text,
    '2020.9' : weather_list1[8].text,
    '2020.10' : weather_list1[9].text,
    '2020.11' : weather_list1[10].text,
    '2020.12' : weather_list1[11].text,
    '2020.13' : weather_list1[12].text,
    '2020.14' : weather_list1[13].text,
    '2020.15' : weather_list1[14].text,
    '2020.16' : weather_list1[15].text,
    '2020.17' : weather_list1[16].text,
    '2020.18' : weather_list1[17].text,
    '2020.19' : weather_list1[18].text,
    '2020.20' : weather_list1[19].text,
    '2020.21' : weather_list1[20].text,
    '2020.22' : weather_list1[21].text,
    '2020.23' : weather_list1[22].text,
    '2020.24' : weather_list1[23].text,
    '2020.25' : weather_list1[24].text,
    '2020.26' : weather_list1[25].text,
    '2020.27' : weather_list1[26].text,
    '2020.28' : weather_list1[27].text,
    '2020.29' : weather_list1[28].text,
    '2020.30' : weather_list1[29].text,
    '2020.31' : weather_list1[30].text 
    },
    index=[0])

New1

ac= pd.read_csv('accident.csv','\t')

real8 = pd.concat([ac[22:23],New1])

C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/4230230350.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('driver/chromedriver')
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/4230230350.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/4230230350.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/4230230350.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/4230230350.py:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/4230230350.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/4230230350.py:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))

In [138]:
Real8 = real8.transpose()
Real8 = Real8.rename(columns = { 22 : 1 })

In [225]:
Real8.insert(0,'월',['8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8'])

In [226]:
Real8 =Real8.drop(Real8.index[0])

In [227]:
Real8 =Real8.drop(Real8.index[0])

In [228]:
Real8 =Real8.drop(Real8.index[0])

In [229]:
Real8 =Real8.drop(Real8.index[0])

In [230]:
Real8 = Real8.rename(index={'2020.1' : '1','2020.2' : '2','2020.3' : '3','2020.4' : '4','2020.5' : '5','2020.6' : '6','2020.7' : '7','2020.8' : '8','2020.9' : '9','2020.10' : '10','2020.11' : '11','2020.12' : '12','2020.13' : '13','2020.14' : '14','2020.15' : '15','2020.16' : '16','2020.17' : '17','2020.18' : '18','2020.19' : '19','2020.20' : '20','2020.21' : '21','2020.22' : '22','2020.23' : '23','2020.24' : '24','2020.25' : '25','2020.26' : '26','2020.27' : '27','2020.28' : '28','2020.29' : '29','2020.30' : '30','2020.31' : '31'})

In [231]:
Real8

    월    1                0
1   8   87       비\n소나기\n박무
2   8   74  비\n안개비\n소나기\n박무
3   8   80  비\n안개비\n소나기\n박무
4   8  106            비\n박무
5   8  107            비\n박무
6   8  101            비\n박무
7   8  117            비\n박무
8   8   98            비\n박무
9   8   71            비\n박무
10  8   82       비\n소나기\n박무
11  8  102            비\n박무
12  8   93           박무\n연무
13  8  103               박무
14  8  122            비\n박무
15  8   87       비\n소나기\n박무
16  8   96               박무
17  8   87               박무
18  8  104           박무\n연무
19  8  105           박무\n연무
20  8   94           박무\n연무
21  8  109            비\n박무
22  8   80       비\n소나기\n박무
23  8   73               박무
24  8   81               연무
25  8  124           박무\n연무
26  8   91                비
27  8   91       비\n소나기\n박무
28  8  102       비\n소나기\n박무
29  8   92       비\n소나기\n박무
30  8   64  비\n안개비\n소나기\n박무
31  8  103              소나기

In [86]:
# 9월

In [69]:
from selenium import webdriver
driver = webdriver.Chrome('driver/chromedriver')


driver.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2020&mm=9&obs=9')
weather_list1 = list()

for i in range (3,8) : # for 문을 활용해서 데이터 정리를 해보자..
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))
import pandas as pd
New1 = pd.DataFrame(
    {'2020.1' : weather_list1[0].text,
     '2020.2' : weather_list1[1].text,
    '2020.3' : weather_list1[2].text,
    '2020.4' : weather_list1[3].text,
    '2020.5' : weather_list1[4].text,
    '2020.6' : weather_list1[5].text,
    '2020.7' : weather_list1[6].text,
    '2020.8' : weather_list1[7].text,
    '2020.9' : weather_list1[8].text,
    '2020.10' : weather_list1[9].text,
    '2020.11' : weather_list1[10].text,
    '2020.12' : weather_list1[11].text,
    '2020.13' : weather_list1[12].text,
    '2020.14' : weather_list1[13].text,
    '2020.15' : weather_list1[14].text,
    '2020.16' : weather_list1[15].text,
    '2020.17' : weather_list1[16].text,
    '2020.18' : weather_list1[17].text,
    '2020.19' : weather_list1[18].text,
    '2020.20' : weather_list1[19].text,
    '2020.21' : weather_list1[20].text,
    '2020.22' : weather_list1[21].text,
    '2020.23' : weather_list1[22].text,
    '2020.24' : weather_list1[23].text,
    '2020.25' : weather_list1[24].text,
    '2020.26' : weather_list1[25].text,
    '2020.27' : weather_list1[26].text,
    '2020.28' : weather_list1[27].text,
    '2020.29' : weather_list1[28].text,
    '2020.30' : weather_list1[29].text,
    '2020.31' : weather_list1[30].text 
    },
    index=[0])

New1

ac= pd.read_csv('accident.csv','\t')

real9 = pd.concat([ac[25:26],New1])

C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3611006331.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('driver/chromedriver')
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3611006331.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3611006331.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3611006331.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3611006331.py:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3611006331.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3611006331.py:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))

In [139]:
Real9 = real9.transpose()
Real9 = Real9.rename(columns = { 25 : 1 })

In [232]:
Real9.insert(0,'월',['9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9'])

In [233]:
Real9 =Real9.drop(Real9.index[0])

In [234]:
Real9 =Real9.drop(Real9.index[0])

In [235]:
Real9 =Real9.drop(Real9.index[0])

In [236]:
Real9 =Real9.drop(Real9.index[0])

In [237]:
Real9 = Real9.rename(index={'2020.1' : '1','2020.2' : '2','2020.3' : '3','2020.4' : '4','2020.5' : '5','2020.6' : '6','2020.7' : '7','2020.8' : '8','2020.9' : '9','2020.10' : '10','2020.11' : '11','2020.12' : '12','2020.13' : '13','2020.14' : '14','2020.15' : '15','2020.16' : '16','2020.17' : '17','2020.18' : '18','2020.19' : '19','2020.20' : '20','2020.21' : '21','2020.22' : '22','2020.23' : '23','2020.24' : '24','2020.25' : '25','2020.26' : '26','2020.27' : '27','2020.28' : '28','2020.29' : '29','2020.30' : '30','2020.31' : '31'})

In [238]:
Real9

    월    1                        0
1   9   74                   비\n소나기
2   9   84               비\n소나기\n박무
3   9   88               비\n소나기\n박무
4   9   96
5   9   96
6   9   57                    비\n박무
7   9   98                    비\n박무
8   9   95                    비\n박무
9   9   87  비\n소나기\n우박\n박무\n연무\n무지개
10  9   91           비\n소나기\n박무\n연무
11  9  123                    비\n박무
12  9   83                    비\n박무
13  9   80
14  9  103                  소나기\n박무
15  9   83                   박무\n연무
16  9   87                    비\n박무
17  9  105                       박무
18  9  129
19  9  105                        비
20  9   78
21  9  106
22  9  142
23  9  109
24  9  111
25  9  128
26  9  119
27  9   87
28  9  132
29  9  126
30  9   89                  소나기\n박무
31  9    -

In [88]:
# 10월

In [66]:
from selenium import webdriver
driver = webdriver.Chrome('driver/chromedriver')


driver.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2020&mm=10&obs=9')
weather_list1 = list()

for i in range (5,8) : # for 문을 활용해서 데이터 정리를 해보자..
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))
import pandas as pd
New1 = pd.DataFrame(
    {'2020.1' : weather_list1[0].text,
     '2020.2' : weather_list1[1].text,
    '2020.3' : weather_list1[2].text,
    '2020.4' : weather_list1[3].text,
    '2020.5' : weather_list1[4].text,
    '2020.6' : weather_list1[5].text,
    '2020.7' : weather_list1[6].text,
    '2020.8' : weather_list1[7].text,
    '2020.9' : weather_list1[8].text,
    '2020.10' : weather_list1[9].text,
    '2020.11' : weather_list1[10].text,
    '2020.12' : weather_list1[11].text,
    '2020.13' : weather_list1[12].text,
    '2020.14' : weather_list1[13].text,
    '2020.15' : weather_list1[14].text,
    '2020.16' : weather_list1[15].text,
    '2020.17' : weather_list1[16].text,
    '2020.18' : weather_list1[17].text,
    '2020.19' : weather_list1[18].text,
    '2020.20' : weather_list1[19].text,
    '2020.21' : weather_list1[20].text,
    '2020.22' : weather_list1[21].text,
    '2020.23' : weather_list1[22].text,
    '2020.24' : weather_list1[23].text,
    '2020.25' : weather_list1[24].text,
    '2020.26' : weather_list1[25].text,
    '2020.27' : weather_list1[26].text,
    '2020.28' : weather_list1[27].text,
    '2020.29' : weather_list1[28].text,
    '2020.30' : weather_list1[29].text,
    '2020.31' : weather_list1[30].text 
    },
    index=[0])

New1

ac= pd.read_csv('accident.csv','\t')

real10 = pd.concat([ac[28:29],New1])

C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/2145053535.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('driver/chromedriver')
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/2145053535.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/2145053535.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/2145053535.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/2145053535.py:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/2145053535.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/2145053535.py:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))

In [249]:
Real10 = real10.transpose()
Real10 = Real10.rename(columns = { 28 : 1 })

In [251]:
Real10.insert(0,'월',['10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10'])

In [250]:
Real10

             1          0
시도          서울        NaN
사고월        10월        NaN
구분        사고건수        NaN
2020     3,122        NaN
2020.1      39
2020.2      53      비\n박무
2020.3      46  비\n박무\n연무
2020.4      50  비\n박무\n연무
2020.5     102
2020.6      98
2020.7     106
2020.8     133
2020.9     100
2020.10     92
2020.11     61
2020.12    116         박무
2020.13    101
2020.14    101         채운
2020.15    116
2020.16    113
2020.17    142     박무\n연무
2020.18     72
2020.19    116     박무\n연무
2020.20    120     박무\n연무
2020.21     90
2020.22    103  비\n박무\n황사
2020.23    133
2020.24    124
2020.25     84
2020.26    107
2020.27    120     박무\n연무
2020.28    119         박무
2020.29    119
2020.30    127
2020.31    119

In [252]:
Real10 =Real10.drop(Real10.index[0])

In [253]:
Real10 =Real10.drop(Real10.index[0])

In [254]:
Real10 =Real10.drop(Real10.index[0])

In [255]:
Real10 =Real10.drop(Real10.index[0])

In [256]:
Real10 = Real10.rename(index={'2020.1' : '1','2020.2' : '2','2020.3' : '3','2020.4' : '4','2020.5' : '5','2020.6' : '6','2020.7' : '7','2020.8' : '8','2020.9' : '9','2020.10' : '10','2020.11' : '11','2020.12' : '12','2020.13' : '13','2020.14' : '14','2020.15' : '15','2020.16' : '16','2020.17' : '17','2020.18' : '18','2020.19' : '19','2020.20' : '20','2020.21' : '21','2020.22' : '22','2020.23' : '23','2020.24' : '24','2020.25' : '25','2020.26' : '26','2020.27' : '27','2020.28' : '28','2020.29' : '29','2020.30' : '30','2020.31' : '31'})

In [257]:
Real10

     월    1          0
1   10   39
2   10   53      비\n박무
3   10   46  비\n박무\n연무
4   10   50  비\n박무\n연무
5   10  102
6   10   98
7   10  106
8   10  133
9   10  100
10  10   92
11  10   61
12  10  116         박무
13  10  101
14  10  101         채운
15  10  116
16  10  113
17  10  142     박무\n연무
18  10   72
19  10  116     박무\n연무
20  10  120     박무\n연무
21  10   90
22  10  103  비\n박무\n황사
23  10  133
24  10  124
25  10   84
26  10  107
27  10  120     박무\n연무
28  10  119         박무
29  10  119
30  10  127
31  10  119

In [90]:
# 11월

In [70]:
from selenium import webdriver
driver = webdriver.Chrome('driver/chromedriver')


driver.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2020&mm=11&obs=9')
weather_list1 = list()

for i in range (1,8) : # for 문을 활용해서 데이터 정리를 해보자..
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))
import pandas as pd
New1 = pd.DataFrame(
    {'2020.1' : weather_list1[0].text,
     '2020.2' : weather_list1[1].text,
    '2020.3' : weather_list1[2].text,
    '2020.4' : weather_list1[3].text,
    '2020.5' : weather_list1[4].text,
    '2020.6' : weather_list1[5].text,
    '2020.7' : weather_list1[6].text,
    '2020.8' : weather_list1[7].text,
    '2020.9' : weather_list1[8].text,
    '2020.10' : weather_list1[9].text,
    '2020.11' : weather_list1[10].text,
    '2020.12' : weather_list1[11].text,
    '2020.13' : weather_list1[12].text,
    '2020.14' : weather_list1[13].text,
    '2020.15' : weather_list1[14].text,
    '2020.16' : weather_list1[15].text,
    '2020.17' : weather_list1[16].text,
    '2020.18' : weather_list1[17].text,
    '2020.19' : weather_list1[18].text,
    '2020.20' : weather_list1[19].text,
    '2020.21' : weather_list1[20].text,
    '2020.22' : weather_list1[21].text,
    '2020.23' : weather_list1[22].text,
    '2020.24' : weather_list1[23].text,
    '2020.25' : weather_list1[24].text,
    '2020.26' : weather_list1[25].text,
    '2020.27' : weather_list1[26].text,
    '2020.28' : weather_list1[27].text,
    '2020.29' : weather_list1[28].text,
    '2020.30' : weather_list1[29].text,
    '2020.31' : weather_list1[30].text 
    },
    index=[0])

New1

ac= pd.read_csv('accident.csv','\t')

real11 = pd.concat([ac[31:32],New1])

C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3229123846.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('driver/chromedriver')
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3229123846.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3229123846.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3229123846.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3229123846.py:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3229123846.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/3229123846.py:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))

In [279]:
Real11 = real11.transpose()
Real11 = Real11.rename(columns = { 31 : 1 })

In [280]:
Real11

             1          0
시도          서울        NaN
사고월        11월        NaN
구분        사고건수        NaN
2020     3,007        NaN
2020.1      66  비\n박무\n황사
2020.2     121  비\n박무\n황사
2020.3     115          비
2020.4     105
2020.5     108
2020.6      96
2020.7     109  비\n박무\n연무
2020.8      89         박무
2020.9      91
2020.10     94
2020.11    118
2020.12    130
2020.13    106     박무\n연무
2020.14    123     박무\n연무
2020.15     71     박무\n연무
2020.16     90         박무
2020.17     96      비\n박무
2020.18    120      비\n박무
2020.19    114      비\n박무
2020.20    126          비
2020.21     95          비
2020.22     63      비\n박무
2020.23     87
2020.24    118
2020.25     79
2020.26     90         박무
2020.27    125      비\n박무
2020.28     91
2020.29     64
2020.30    107
2020.31      -

In [281]:
Real11.insert(0,'월',['11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11'])

In [282]:
Real11 =Real11.drop(Real11.index[0])

In [283]:
Real11 =Real11.drop(Real11.index[0])

In [284]:
Real11 =Real11.drop(Real11.index[0])

In [285]:
Real11 =Real11.drop(Real11.index[0])

In [286]:
Real11 = Real11.rename(index={'2020.1' : '1','2020.2' : '2','2020.3' : '3','2020.4' : '4','2020.5' : '5','2020.6' : '6','2020.7' : '7','2020.8' : '8','2020.9' : '9','2020.10' : '10','2020.11' : '11','2020.12' : '12','2020.13' : '13','2020.14' : '14','2020.15' : '15','2020.16' : '16','2020.17' : '17','2020.18' : '18','2020.19' : '19','2020.20' : '20','2020.21' : '21','2020.22' : '22','2020.23' : '23','2020.24' : '24','2020.25' : '25','2020.26' : '26','2020.27' : '27','2020.28' : '28','2020.29' : '29','2020.30' : '30','2020.31' : '31'})

In [287]:
Real11

     월    1          0
1   11   66  비\n박무\n황사
2   11  121  비\n박무\n황사
3   11  115          비
4   11  105
5   11  108
6   11   96
7   11  109  비\n박무\n연무
8   11   89         박무
9   11   91
10  11   94
11  11  118
12  11  130
13  11  106     박무\n연무
14  11  123     박무\n연무
15  11   71     박무\n연무
16  11   90         박무
17  11   96      비\n박무
18  11  120      비\n박무
19  11  114      비\n박무
20  11  126          비
21  11   95          비
22  11   63      비\n박무
23  11   87
24  11  118
25  11   79
26  11   90         박무
27  11  125      비\n박무
28  11   91
29  11   64
30  11  107
31  11    -

In [92]:
# 12월

In [71]:
from selenium import webdriver
driver = webdriver.Chrome('driver/chromedriver')


driver.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2020&mm=12&obs=9')
weather_list1 = list()

for i in range (3,8) : # for 문을 활용해서 데이터 정리를 해보자..
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))
import pandas as pd
New1 = pd.DataFrame(
    {'2020.1' : weather_list1[0].text,
     '2020.2' : weather_list1[1].text,
    '2020.3' : weather_list1[2].text,
    '2020.4' : weather_list1[3].text,
    '2020.5' : weather_list1[4].text,
    '2020.6' : weather_list1[5].text,
    '2020.7' : weather_list1[6].text,
    '2020.8' : weather_list1[7].text,
    '2020.9' : weather_list1[8].text,
    '2020.10' : weather_list1[9].text,
    '2020.11' : weather_list1[10].text,
    '2020.12' : weather_list1[11].text,
    '2020.13' : weather_list1[12].text,
    '2020.14' : weather_list1[13].text,
    '2020.15' : weather_list1[14].text,
    '2020.16' : weather_list1[15].text,
    '2020.17' : weather_list1[16].text,
    '2020.18' : weather_list1[17].text,
    '2020.19' : weather_list1[18].text,
    '2020.20' : weather_list1[19].text,
    '2020.21' : weather_list1[20].text,
    '2020.22' : weather_list1[21].text,
    '2020.23' : weather_list1[22].text,
    '2020.24' : weather_list1[23].text,
    '2020.25' : weather_list1[24].text,
    '2020.26' : weather_list1[25].text,
    '2020.27' : weather_list1[26].text,
    '2020.28' : weather_list1[27].text,
    '2020.29' : weather_list1[28].text,
    '2020.30' : weather_list1[29].text,
    '2020.31' : weather_list1[30].text 
    },
    index=[0])

New1

ac= pd.read_csv('accident.csv','\t')

real12 = pd.concat([ac[34:35],New1])

C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/480345067.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('driver/chromedriver')
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/480345067.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/480345067.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/480345067.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/480345067.py:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/480345067.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_11852/480345067.py:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))

In [142]:
Real12 = real12.transpose()
Real12 = Real12.rename(columns = { 34 : 1 })

In [268]:
Real12.insert(0,'월',['12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12'])

In [269]:
Real12 =Real12.drop(Real12.index[0])

In [270]:
Real12 =Real12.drop(Real12.index[0])

In [271]:
Real12 =Real12.drop(Real12.index[0])

In [272]:
Real12 =Real12.drop(Real12.index[0])

In [273]:
Real12 = Real12.rename(index={'2020.1' : '1','2020.2' : '2','2020.3' : '3','2020.4' : '4','2020.5' : '5','2020.6' : '6','2020.7' : '7','2020.8' : '8','2020.9' : '9','2020.10' : '10','2020.11' : '11','2020.12' : '12','2020.13' : '13','2020.14' : '14','2020.15' : '15','2020.16' : '16','2020.17' : '17','2020.18' : '18','2020.19' : '19','2020.20' : '20','2020.21' : '21','2020.22' : '22','2020.23' : '23','2020.24' : '24','2020.25' : '25','2020.26' : '26','2020.27' : '27','2020.28' : '28','2020.29' : '29','2020.30' : '30','2020.31' : '31'})

In [274]:
Real12

     월    1                0
1   12   92
2   12   74
3   12   78
4   12  115
5   12   76
6   12   61               연무
7   12   82               연무
8   12  105
9   12   73
10  12   85  눈\n진눈깨비\n박무\n연무
11  12  100           박무\n연무
12  12   64           박무\n연무
13  12   45      눈\n진눈깨비\n박무
14  12   74
15  12   88
16  12   89
17  12  101                눈
18  12  142                눈
19  12  114
20  12   54
21  12  108
22  12  102
23  12  108        비\n박무\n연무
24  12   95           박무\n연무
25  12   63
26  12   52
27  12   40            비\n연무
28  12   81        비\n박무\n연무
29  12   71        눈\n박무\n연무
30  12   89
31  12   98                눈

In [288]:
realAll = pd.concat([Real1,Real2,Real3,Real4,Real5,Real6,Real7,Real8,Real9,Real10,Real11,Real12])

realAll.to_csv('realAll.csv')