In [1]:
import pandas as pd

rA= pd.read_csv('rAnew2.csv')
rA

     날짜   월  사고수   날씨
0     1   1   53  1.0
1     2   1   95  NaN
2     3   1   79  NaN
3     4   1   78  NaN
4     5   1   68  NaN
..   ..  ..  ...  ...
361  27  12   40  2.0
362  28  12   81  2.0
363  29  12   71  1.0
364  30  12   89  NaN
365  31  12   98  1.0

[366 rows x 4 columns]

In [17]:
for i in range(52) :
    rAsun = rAsun + (rA['사고수'][(i*7)+4])

In [18]:
rAsun

3669

In [24]:
# 52 일 중이네요 3669 건. 신기하당 ㄷㄷ.

In [19]:
for i in range(52) :
    print(rA['사고수'][(i*7)+4])

68
65
82
49
52
86
98
69
48
55
48
66
69
65
61
65
74
65
69
89
73
81
79
78
71
75
77
102
79
71
74
71
96
73
64
57
80
78
87
50
61
72
84
66
89
71
63
64
61
45
54
40

In [20]:
rAsun_list = list()


for i in range(52) :
    rAsun_list.append(rA['사고수'][(i*7)+4])

In [21]:
rAsun_list

[68,
 65,
 82,
 49,
 52,
 86,
 98,
 69,
 48,
 55,
 48,
 66,
 69,
 65,
 61,
 65,
 74,
 65,
 69,
 89,
 73,
 81,
 79,
 78,
 71,
 75,
 77,
 102,
 79,
 71,
 74,
 71,
 96,
 73,
 64,
 57,
 80,
 78,
 87,
 50,
 61,
 72,
 84,
 66,
 89,
 71,
 63,
 64,
 61,
 45,
 54,
 40]

In [23]:
len(rAsun_list)

52