In [207]:
from selenium import webdriver
driver = webdriver.Chrome('driver/chromedriver')


driver.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2019&mm=1&obs=9')
weather_list1 = list()

for i in range (3,8) : # for 문을 활용해서 데이터 정리를 해보자..
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))

import pandas as pd


    

New1 = pd.DataFrame(
    {'01일' : weather_list1[0].text,
     '02일' : weather_list1[1].text,
    '03일' : weather_list1[2].text,
    '04일' : weather_list1[3].text,
    '05일' : weather_list1[4].text,
    '06일' : weather_list1[5].text,
    '07일' : weather_list1[6].text,
    '08일' : weather_list1[7].text,
    '09일' : weather_list1[8].text,
    '10일' : weather_list1[9].text,
    '11일' : weather_list1[10].text,
    '12일' : weather_list1[11].text,
    '13일' : weather_list1[12].text,
    '14일' : weather_list1[13].text,
    '15일' : weather_list1[14].text,
    '16일' : weather_list1[15].text,
    '17일' : weather_list1[16].text,
    '18일' : weather_list1[17].text,
    '19일' : weather_list1[18].text,
    '20일' : weather_list1[19].text,
    '21일' : weather_list1[20].text,
    '22일' : weather_list1[21].text,
    '23일' : weather_list1[22].text,
    '24일' : weather_list1[23].text,
    '25일' : weather_list1[24].text,
    '26일' : weather_list1[25].text,
    '27일' : weather_list1[26].text,
    '28일' : weather_list1[27].text,
    '29일' : weather_list1[28].text,
    '30일' : weather_list1[29].text,
    '31일' : weather_list1[30].text 
    },
    index=[0.1])

New1

ac= pd.read_csv('acci2019.csv','\t')


real1 = pd.concat([ac[0:1],New1])
real1

C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/2156572654.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('driver/chromedriver')
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/2156572654.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/2156572654.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/2156572654.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/2156572654.py:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/2156572654.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
C:\Users\BIT\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,시도,사고월,구분,합계,01일,02일,03일,04일,05일,06일,...,22일,23일,24일,25일,26일,27일,28일,29일,30일,31일
0.0,서울,01월,사고건수,"2,983",62,96,102,100,95,52,...,104,98,108,128,99,65,113,103,113,100
0.1,NaN,NaN,NaN,NaN,,,,박무\n연무,박무\n연무,,...,연무,박무\n연무,,,,연무,비\n연무,,연무,연무

In [208]:
Real1 = real1.transpose()

Real1.insert(0,'월',['1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1','1'])
Real1

     월    0.0        0.1
시도   1     서울        NaN
사고월  1    01월        NaN
구분   1   사고건수        NaN
합계   1  2,983        NaN
01일  1     62
02일  1     96
03일  1    102
04일  1    100     박무\n연무
05일  1     95     박무\n연무
06일  1     52
07일  1     88         연무
08일  1    111
09일  1     99         채운
10일  1    100         연무
11일  1    112         연무
12일  1     94         연무
13일  1     71         연무
14일  1    101     박무\n연무
15일  1     95  눈\n박무\n연무
16일  1     96          눈
17일  1    103          눈
18일  1    103         연무
19일  1     88         연무
20일  1     92         연무
21일  1     92      눈\n연무
22일  1    104         연무
23일  1     98     박무\n연무
24일  1    108
25일  1    128
26일  1     99
27일  1     65         연무
28일  1    113      비\n연무
29일  1    103
30일  1    113         연무
31일  1    100         연무

In [209]:
Real1 =Real1.drop(Real1.index[0])
Real1

     월    0.0        0.1
사고월  1    01월        NaN
구분   1   사고건수        NaN
합계   1  2,983        NaN
01일  1     62
02일  1     96
03일  1    102
04일  1    100     박무\n연무
05일  1     95     박무\n연무
06일  1     52
07일  1     88         연무
08일  1    111
09일  1     99         채운
10일  1    100         연무
11일  1    112         연무
12일  1     94         연무
13일  1     71         연무
14일  1    101     박무\n연무
15일  1     95  눈\n박무\n연무
16일  1     96          눈
17일  1    103          눈
18일  1    103         연무
19일  1     88         연무
20일  1     92         연무
21일  1     92      눈\n연무
22일  1    104         연무
23일  1     98     박무\n연무
24일  1    108
25일  1    128
26일  1     99
27일  1     65         연무
28일  1    113      비\n연무
29일  1    103
30일  1    113         연무
31일  1    100         연무

In [210]:
Real1 =Real1.drop(Real1.index[0])
Real1

     월    0.0        0.1
구분   1   사고건수        NaN
합계   1  2,983        NaN
01일  1     62
02일  1     96
03일  1    102
04일  1    100     박무\n연무
05일  1     95     박무\n연무
06일  1     52
07일  1     88         연무
08일  1    111
09일  1     99         채운
10일  1    100         연무
11일  1    112         연무
12일  1     94         연무
13일  1     71         연무
14일  1    101     박무\n연무
15일  1     95  눈\n박무\n연무
16일  1     96          눈
17일  1    103          눈
18일  1    103         연무
19일  1     88         연무
20일  1     92         연무
21일  1     92      눈\n연무
22일  1    104         연무
23일  1     98     박무\n연무
24일  1    108
25일  1    128
26일  1     99
27일  1     65         연무
28일  1    113      비\n연무
29일  1    103
30일  1    113         연무
31일  1    100         연무

In [211]:
Real1 =Real1.drop(Real1.index[0])
Real1

     월    0.0        0.1
합계   1  2,983        NaN
01일  1     62
02일  1     96
03일  1    102
04일  1    100     박무\n연무
05일  1     95     박무\n연무
06일  1     52
07일  1     88         연무
08일  1    111
09일  1     99         채운
10일  1    100         연무
11일  1    112         연무
12일  1     94         연무
13일  1     71         연무
14일  1    101     박무\n연무
15일  1     95  눈\n박무\n연무
16일  1     96          눈
17일  1    103          눈
18일  1    103         연무
19일  1     88         연무
20일  1     92         연무
21일  1     92      눈\n연무
22일  1    104         연무
23일  1     98     박무\n연무
24일  1    108
25일  1    128
26일  1     99
27일  1     65         연무
28일  1    113      비\n연무
29일  1    103
30일  1    113         연무
31일  1    100         연무

In [212]:
Real1 =Real1.drop(Real1.index[0])
Real1

     월  0.0        0.1
01일  1   62
02일  1   96
03일  1  102
04일  1  100     박무\n연무
05일  1   95     박무\n연무
06일  1   52
07일  1   88         연무
08일  1  111
09일  1   99         채운
10일  1  100         연무
11일  1  112         연무
12일  1   94         연무
13일  1   71         연무
14일  1  101     박무\n연무
15일  1   95  눈\n박무\n연무
16일  1   96          눈
17일  1  103          눈
18일  1  103         연무
19일  1   88         연무
20일  1   92         연무
21일  1   92      눈\n연무
22일  1  104         연무
23일  1   98     박무\n연무
24일  1  108
25일  1  128
26일  1   99
27일  1   65         연무
28일  1  113      비\n연무
29일  1  103
30일  1  113         연무
31일  1  100         연무

In [213]:
Real1 = Real1.rename(index={'01일' : '1','02일' : '2','03일' : '3','04일' : '4','05일' : '5','06일' : '6','07일' : '7','08일' : '8','09일' : '9','10일' : '10','11일' : '11','12일' : '12','13일' : '13','14일' : '14','15일' : '15','16일' : '16','17일' : '17','18일' : '18','19일' : '19','20일' : '20','21일' : '21','22일' : '22','23일' : '23','24일' : '24','25일' : '25','26일' : '26','27일' : '27','28일' : '28','29일' : '29','30일' : '30','31일' : '31'})
Real1

    월  0.0        0.1
1   1   62
2   1   96
3   1  102
4   1  100     박무\n연무
5   1   95     박무\n연무
6   1   52
7   1   88         연무
8   1  111
9   1   99         채운
10  1  100         연무
11  1  112         연무
12  1   94         연무
13  1   71         연무
14  1  101     박무\n연무
15  1   95  눈\n박무\n연무
16  1   96          눈
17  1  103          눈
18  1  103         연무
19  1   88         연무
20  1   92         연무
21  1   92      눈\n연무
22  1  104         연무
23  1   98     박무\n연무
24  1  108
25  1  128
26  1   99
27  1   65         연무
28  1  113      비\n연무
29  1  103
30  1  113         연무
31  1  100         연무

In [214]:
Real1 = Real1.rename(columns = { 0 : 1 })
Real1

    월    1        0.1
1   1   62
2   1   96
3   1  102
4   1  100     박무\n연무
5   1   95     박무\n연무
6   1   52
7   1   88         연무
8   1  111
9   1   99         채운
10  1  100         연무
11  1  112         연무
12  1   94         연무
13  1   71         연무
14  1  101     박무\n연무
15  1   95  눈\n박무\n연무
16  1   96          눈
17  1  103          눈
18  1  103         연무
19  1   88         연무
20  1   92         연무
21  1   92      눈\n연무
22  1  104         연무
23  1   98     박무\n연무
24  1  108
25  1  128
26  1   99
27  1   65         연무
28  1  113      비\n연무
29  1  103
30  1  113         연무
31  1  100         연무

In [215]:
Real1 = Real1.rename(columns = { 0.1 : 0 })
Real1

    월    1          0
1   1   62
2   1   96
3   1  102
4   1  100     박무\n연무
5   1   95     박무\n연무
6   1   52
7   1   88         연무
8   1  111
9   1   99         채운
10  1  100         연무
11  1  112         연무
12  1   94         연무
13  1   71         연무
14  1  101     박무\n연무
15  1   95  눈\n박무\n연무
16  1   96          눈
17  1  103          눈
18  1  103         연무
19  1   88         연무
20  1   92         연무
21  1   92      눈\n연무
22  1  104         연무
23  1   98     박무\n연무
24  1  108
25  1  128
26  1   99
27  1   65         연무
28  1  113      비\n연무
29  1  103
30  1  113         연무
31  1  100         연무

In [14]:
from selenium import webdriver
driver = webdriver.Chrome('driver/chromedriver')


driver.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2019&mm=2&obs=9')
weather_list1 = list()

for i in range (6,8) : # for 문을 활용해서 데이터 정리를 해보자..
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))

import pandas as pd
New1 = pd.DataFrame(
    {'01일' : weather_list1[0].text,
     '02일' : weather_list1[1].text,
    '03일' : weather_list1[2].text,
    '04일' : weather_list1[3].text,
    '05일' : weather_list1[4].text,
    '06일' : weather_list1[5].text,
    '07일' : weather_list1[6].text,
    '08일' : weather_list1[7].text,
    '09일' : weather_list1[8].text,
    '10일' : weather_list1[9].text,
    '11일' : weather_list1[10].text,
    '12일' : weather_list1[11].text,
    '13일' : weather_list1[12].text,
    '14일' : weather_list1[13].text,
    '15일' : weather_list1[14].text,
    '16일' : weather_list1[15].text,
    '17일' : weather_list1[16].text,
    '18일' : weather_list1[17].text,
    '19일' : weather_list1[18].text,
    '20일' : weather_list1[19].text,
    '21일' : weather_list1[20].text,
    '22일' : weather_list1[21].text,
    '23일' : weather_list1[22].text,
    '24일' : weather_list1[23].text,
    '25일' : weather_list1[24].text,
    '26일' : weather_list1[25].text,
    '27일' : weather_list1[26].text,
    '28일' : weather_list1[27].text,
    },
    index=[0])

New1

ac= pd.read_csv('acci2019.csv','\t')


real2 = pd.concat([ac[1:2],New1])
real2

C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/280740126.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('driver/chromedriver')
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/280740126.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/280740126.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/280740126.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/280740126.py:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/280740126.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
C:\Users\BIT\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,시도,사고월,구분,합계,01일,02일,03일,04일,05일,06일,...,22일,23일,24일,25일,26일,27일,28일,29일,30일,31일
1,서울,02월,사고건수,"2,482",111,69,70,47,38,48,...,114,114,74,104,96,78,103,-,-,-
0,NaN,NaN,NaN,NaN,눈,비\n연무,비\n진눈깨비\n안개\n박무\n연무,박무\n연무,연무,박무\n연무,...,연무,연무,연무,박무\n연무,,연무,연무,NaN,NaN,NaN

In [15]:
Real2 = real2.transpose()

In [16]:
Real2.insert(0,'월',['2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2','2'])
Real2 =Real2.drop(Real2.index[0])

In [17]:
Real2 =Real2.drop(Real2.index[0])

In [18]:
Real2 =Real2.drop(Real2.index[0])

In [19]:
Real2 =Real2.drop(Real2.index[0])

In [20]:
Real2

     월    1                    0
01일  2  111                    눈
02일  2   69                비\n연무
03일  2   70  비\n진눈깨비\n안개\n박무\n연무
04일  2   47               박무\n연무
05일  2   38                   연무
06일  2   48               박무\n연무
07일  2   90   비\n눈\n진눈깨비\n박무\n연무
08일  2   88
09일  2   68
10일  2   63
11일  2   82
12일  2   94                눈\n연무
13일  2  103
14일  2  119
15일  2  123                눈\n박무
16일  2  102                눈\n연무
17일  2  111                   연무
18일  2   98                  햇무리
19일  2   79          눈\n진눈깨비\n박무
20일  2   88            눈\n박무\n연무
21일  2  108                   연무
22일  2  114                   연무
23일  2  114                   연무
24일  2   74                   연무
25일  2  104               박무\n연무
26일  2   96
27일  2   78                   연무
28일  2  103                   연무
29일  2    -                  NaN
30일  2    -                  NaN
31일  2    -                  NaN

In [46]:
Real2 = Real2.rename(index={'01일' : '1','02일' : '2','03일' : '3','04일' : '4','05일' : '5','06일' : '6','07일' : '7','08일' : '8','09일' : '9','10일' : '10','11일' : '11','12일' : '12','13일' : '13','14일' : '14','15일' : '15','16일' : '16','17일' : '17','18일' : '18','19일' : '19','20일' : '20','21일' : '21','22일' : '22','23일' : '23','24일' : '24','25일' : '25','26일' : '26','27일' : '27','28일' : '28','29일' : '29','30일' : '30','31일' : '31'})
Real2

    월    1                    0
1   2  111                    눈
2   2   69                비\n연무
3   2   70  비\n진눈깨비\n안개\n박무\n연무
4   2   47               박무\n연무
5   2   38                   연무
6   2   48               박무\n연무
7   2   90   비\n눈\n진눈깨비\n박무\n연무
8   2   88
9   2   68
10  2   63
11  2   82
12  2   94                눈\n연무
13  2  103
14  2  119
15  2  123                눈\n박무
16  2  102                눈\n연무
17  2  111                   연무
18  2   98                  햇무리
19  2   79          눈\n진눈깨비\n박무
20  2   88            눈\n박무\n연무
21  2  108                   연무
22  2  114                   연무
23  2  114                   연무
24  2   74                   연무
25  2  104               박무\n연무
26  2   96
27  2   78                   연무
28  2  103                   연무
29  2    -                  NaN
30  2    -                  NaN
31  2    -                  NaN

In [48]:
from selenium import webdriver
driver = webdriver.Chrome('driver/chromedriver')


driver.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2019&mm=3&obs=9')
weather_list1 = list()

for i in range (6,8) : # for 문을 활용해서 데이터 정리를 해보자..
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))

import pandas as pd
New1 = pd.DataFrame(
    {'01일' : weather_list1[0].text,
     '02일' : weather_list1[1].text,
    '03일' : weather_list1[2].text,
    '04일' : weather_list1[3].text,
    '05일' : weather_list1[4].text,
    '06일' : weather_list1[5].text,
    '07일' : weather_list1[6].text,
    '08일' : weather_list1[7].text,
    '09일' : weather_list1[8].text,
    '10일' : weather_list1[9].text,
    '11일' : weather_list1[10].text,
    '12일' : weather_list1[11].text,
    '13일' : weather_list1[12].text,
    '14일' : weather_list1[13].text,
    '15일' : weather_list1[14].text,
    '16일' : weather_list1[15].text,
    '17일' : weather_list1[16].text,
    '18일' : weather_list1[17].text,
    '19일' : weather_list1[18].text,
    '20일' : weather_list1[19].text,
    '21일' : weather_list1[20].text,
    '22일' : weather_list1[21].text,
    '23일' : weather_list1[22].text,
    '24일' : weather_list1[23].text,
    '25일' : weather_list1[24].text,
    '26일' : weather_list1[25].text,
    '27일' : weather_list1[26].text,
    '28일' : weather_list1[27].text,
    '29일' : weather_list1[28].text,
    '30일' : weather_list1[29].text,
    '31일' : weather_list1[30].text 
    },
    index=[0])

New1

ac= pd.read_csv('acci2019.csv','\t')


real3 = pd.concat([ac[2:3],New1])
real3

C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/212809340.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('driver/chromedriver')
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/212809340.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/212809340.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/212809340.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/212809340.py:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/212809340.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/212809340.py:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))
C:\Users\BIT\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,시도,사고월,구분,합계,01일,02일,03일,04일,05일,06일,...,22일,23일,24일,25일,26일,27일,28일,29일,30일,31일
2,서울,03월,사고건수,"3,099",81,80,66,77,76,95,...,97,128,98,92,101,82,104,126,122,71
0,NaN,NaN,NaN,NaN,연무,연무,연무,연무,박무\n연무,연무,...,,비\n소나기\n눈\n진눈깨비\n소낙눈\n싸락우박,,연무,박무\n연무,박무\n연무,박무\n연무,,비\n안개비\n소나기\n싸락우박\n박무\n연무,비

In [49]:
Real3 = real3.transpose()

In [50]:
Real3.insert(0,'월',['3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3','3'])

In [51]:
Real3 =Real3.drop(Real3.index[0])

In [52]:
Real3 =Real3.drop(Real3.index[0])

In [53]:
Real3 =Real3.drop(Real3.index[0])

In [54]:
Real3 =Real3.drop(Real3.index[0])

In [55]:
Real3 = Real3.rename(index={'01일' : '1','02일' : '2','03일' : '3','04일' : '4','05일' : '5','06일' : '6','07일' : '7','08일' : '8','09일' : '9','10일' : '10','11일' : '11','12일' : '12','13일' : '13','14일' : '14','15일' : '15','16일' : '16','17일' : '17','18일' : '18','19일' : '19','20일' : '20','21일' : '21','22일' : '22','23일' : '23','24일' : '24','25일' : '25','26일' : '26','27일' : '27','28일' : '28','29일' : '29','30일' : '30','31일' : '31'})
Real3

    월    2                           0
1   3   81                          연무
2   3   80                          연무
3   3   66                          연무
4   3   77                          연무
5   3   76                      박무\n연무
6   3   95                          연무
7   3  111                          연무
8   3  123
9   3  116
10  3   70
11  3   97                   비\n박무\n연무
12  3  104                   비\n박무\n연무
13  3  122                           눈
14  3  105                       비\n연무
15  3  139  비\n소나기\n진눈깨비\n싸락우박\n박무\n연무
16  3  104                      박무\n연무
17  3   80                      박무\n연무
18  3   97                         햇무리
19  3   96                      박무\n연무
20  3  133                   비\n박무\n연무
21  3  106               비\n안개\n박무\n연무
22  3   97
23  3  128  비\n소나기\n눈\n진눈깨비\n소낙눈\n싸락우박
24  3   98
25  3   92                          연무
26  3  101                      박무\n연무
27  3   82                      박무\n연무
28  3  104                      박무\n연무
29  3  126
30  3  122   비\n안개비\n소나기\n싸락우박\n박무\n연무
31  3   71                           비

In [99]:
Real3 = Real3.rename(columns = { 2 : 1 })
Real3

    월    1                           0
1   3   81                          연무
2   3   80                          연무
3   3   66                          연무
4   3   77                          연무
5   3   76                      박무\n연무
6   3   95                          연무
7   3  111                          연무
8   3  123
9   3  116
10  3   70
11  3   97                   비\n박무\n연무
12  3  104                   비\n박무\n연무
13  3  122                           눈
14  3  105                       비\n연무
15  3  139  비\n소나기\n진눈깨비\n싸락우박\n박무\n연무
16  3  104                      박무\n연무
17  3   80                      박무\n연무
18  3   97                         햇무리
19  3   96                      박무\n연무
20  3  133                   비\n박무\n연무
21  3  106               비\n안개\n박무\n연무
22  3   97
23  3  128  비\n소나기\n눈\n진눈깨비\n소낙눈\n싸락우박
24  3   98
25  3   92                          연무
26  3  101                      박무\n연무
27  3   82                      박무\n연무
28  3  104                      박무\n연무
29  3  126
30  3  122   비\n안개비\n소나기\n싸락우박\n박무\n연무
31  3   71                           비

In [100]:
from selenium import webdriver
driver = webdriver.Chrome('driver/chromedriver')


driver.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2019&mm=4&obs=9')
weather_list1 = list()

for i in range (2,8) : # for 문을 활용해서 데이터 정리를 해보자..
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))

import pandas as pd
New1 = pd.DataFrame(
    {'01일' : weather_list1[0].text,
     '02일' : weather_list1[1].text,
    '03일' : weather_list1[2].text,
    '04일' : weather_list1[3].text,
    '05일' : weather_list1[4].text,
    '06일' : weather_list1[5].text,
    '07일' : weather_list1[6].text,
    '08일' : weather_list1[7].text,
    '09일' : weather_list1[8].text,
    '10일' : weather_list1[9].text,
    '11일' : weather_list1[10].text,
    '12일' : weather_list1[11].text,
    '13일' : weather_list1[12].text,
    '14일' : weather_list1[13].text,
    '15일' : weather_list1[14].text,
    '16일' : weather_list1[15].text,
    '17일' : weather_list1[16].text,
    '18일' : weather_list1[17].text,
    '19일' : weather_list1[18].text,
    '20일' : weather_list1[19].text,
    '21일' : weather_list1[20].text,
    '22일' : weather_list1[21].text,
    '23일' : weather_list1[22].text,
    '24일' : weather_list1[23].text,
    '25일' : weather_list1[24].text,
    '26일' : weather_list1[25].text,
    '27일' : weather_list1[26].text,
    '28일' : weather_list1[27].text,
    '29일' : weather_list1[28].text,
    '30일' : weather_list1[29].text,
    '31일' : weather_list1[30].text 
    },
    index=[0])

New1

ac= pd.read_csv('acci2019.csv','\t')


real4 = pd.concat([ac[3:4],New1])
real4

C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/190151313.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('driver/chromedriver')
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/190151313.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/190151313.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/190151313.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/190151313.py:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/190151313.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/190151313.py:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))
C:\Users\BIT\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,시도,사고월,구분,합계,01일,02일,03일,04일,05일,06일,...,22일,23일,24일,25일,26일,27일,28일,29일,30일,31일
3,서울,04월,사고건수,"3,283",118,125,108,119,121,107,...,106,98,114,119,129,104,80,92,112,-
0,NaN,NaN,NaN,NaN,,,,,비\n안개비\n박무\n연무,비\n소나기,...,박무\n연무,비\n연무,비\n박무\n연무,비\n안개비\n박무\n연무,비\n안개비\n박무,햇무리,비,햇무리,햇무리,

In [101]:
Real4 = real4.transpose()

In [102]:
Real4.insert(0,'월',['4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4','4'])

In [103]:
Real4 =Real4.drop(Real4.index[0])

In [104]:
Real4 =Real4.drop(Real4.index[0])

In [105]:
Real4 =Real4.drop(Real4.index[0])

In [106]:
Real4 =Real4.drop(Real4.index[0])

In [107]:
Real4 = Real4.rename(index={'01일' : '1','02일' : '2','03일' : '3','04일' : '4','05일' : '5','06일' : '6','07일' : '7','08일' : '8','09일' : '9','10일' : '10','11일' : '11','12일' : '12','13일' : '13','14일' : '14','15일' : '15','16일' : '16','17일' : '17','18일' : '18','19일' : '19','20일' : '20','21일' : '21','22일' : '22','23일' : '23','24일' : '24','25일' : '25','26일' : '26','27일' : '27','28일' : '28','29일' : '29','30일' : '30','31일' : '31'})
Real4

    월    3               0
1   4  118
2   4  125
3   4  108
4   4  119
5   4  121  비\n안개비\n박무\n연무
6   4  107          비\n소나기
7   4  104     박무\n연무\n햇무리
8   4  105
9   4  116           비\n박무
10  4  130      비\n안개비\n박무
11  4  114         박무\n햇무리
12  4  109          박무\n연무
13  4  136         연무\n햇무리
14  4   74  비\n안개비\n박무\n연무
15  4  113
16  4  115             햇무리
17  4  108
18  4   91     안개비\n박무\n연무
19  4  132              박무
20  4   96  비\n안개비\n박무\n연무
21  4   88     안개비\n박무\n연무
22  4  106          박무\n연무
23  4   98           비\n연무
24  4  114       비\n박무\n연무
25  4  119  비\n안개비\n박무\n연무
26  4  129      비\n안개비\n박무
27  4  104             햇무리
28  4   80               비
29  4   92             햇무리
30  4  112             햇무리
31  4    -

In [108]:
Real4 = Real4.rename(columns = { 3 : 1 })
Real4

    월    1               0
1   4  118
2   4  125
3   4  108
4   4  119
5   4  121  비\n안개비\n박무\n연무
6   4  107          비\n소나기
7   4  104     박무\n연무\n햇무리
8   4  105
9   4  116           비\n박무
10  4  130      비\n안개비\n박무
11  4  114         박무\n햇무리
12  4  109          박무\n연무
13  4  136         연무\n햇무리
14  4   74  비\n안개비\n박무\n연무
15  4  113
16  4  115             햇무리
17  4  108
18  4   91     안개비\n박무\n연무
19  4  132              박무
20  4   96  비\n안개비\n박무\n연무
21  4   88     안개비\n박무\n연무
22  4  106          박무\n연무
23  4   98           비\n연무
24  4  114       비\n박무\n연무
25  4  119  비\n안개비\n박무\n연무
26  4  129      비\n안개비\n박무
27  4  104             햇무리
28  4   80               비
29  4   92             햇무리
30  4  112             햇무리
31  4    -

In [109]:
from selenium import webdriver
driver = webdriver.Chrome('driver/chromedriver')


driver.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2019&mm=5&obs=9')
weather_list1 = list()

for i in range (4,8) : # for 문을 활용해서 데이터 정리를 해보자..
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))

import pandas as pd
New1 = pd.DataFrame(
    {'01일' : weather_list1[0].text,
     '02일' : weather_list1[1].text,
    '03일' : weather_list1[2].text,
    '04일' : weather_list1[3].text,
    '05일' : weather_list1[4].text,
    '06일' : weather_list1[5].text,
    '07일' : weather_list1[6].text,
    '08일' : weather_list1[7].text,
    '09일' : weather_list1[8].text,
    '10일' : weather_list1[9].text,
    '11일' : weather_list1[10].text,
    '12일' : weather_list1[11].text,
    '13일' : weather_list1[12].text,
    '14일' : weather_list1[13].text,
    '15일' : weather_list1[14].text,
    '16일' : weather_list1[15].text,
    '17일' : weather_list1[16].text,
    '18일' : weather_list1[17].text,
    '19일' : weather_list1[18].text,
    '20일' : weather_list1[19].text,
    '21일' : weather_list1[20].text,
    '22일' : weather_list1[21].text,
    '23일' : weather_list1[22].text,
    '24일' : weather_list1[23].text,
    '25일' : weather_list1[24].text,
    '26일' : weather_list1[25].text,
    '27일' : weather_list1[26].text,
    '28일' : weather_list1[27].text,
    '29일' : weather_list1[28].text,
    '30일' : weather_list1[29].text,
    '31일' : weather_list1[30].text 
    },
    index=[0])

New1

ac= pd.read_csv('acci2019.csv','\t')


real5 = pd.concat([ac[4:5],New1])
real5

C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3561854935.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('driver/chromedriver')
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3561854935.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3561854935.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3561854935.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3561854935.py:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3561854935.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3561854935.py:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))
C:\Users\BIT\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,시도,사고월,구분,합계,01일,02일,03일,04일,05일,06일,...,22일,23일,24일,25일,26일,27일,28일,29일,30일,31일
4,서울,05월,사고건수,"3,497",94,131,125,106,94,87,...,115,121,137,108,74,106,129,114,116,148
0,NaN,NaN,NaN,NaN,연무,,연무,연무,연무,비,...,연무,연무,연무,연무,,비\n안개비\n박무,,,비\n햇무리,

In [110]:
Real5 = real5.transpose()

In [111]:
Real5.insert(0,'월',['5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5','5'])

In [112]:
Real5 =Real5.drop(Real5.index[0])

In [113]:
Real5 =Real5.drop(Real5.index[0])

In [114]:
Real5 =Real5.drop(Real5.index[0])

In [115]:
Real5 =Real5.drop(Real5.index[0])

In [116]:
Real5 = Real5.rename(index={'01일' : '1','02일' : '2','03일' : '3','04일' : '4','05일' : '5','06일' : '6','07일' : '7','08일' : '8','09일' : '9','10일' : '10','11일' : '11','12일' : '12','13일' : '13','14일' : '14','15일' : '15','16일' : '16','17일' : '17','18일' : '18','19일' : '19','20일' : '20','21일' : '21','22일' : '22','23일' : '23','24일' : '24','25일' : '25','26일' : '26','27일' : '27','28일' : '28','29일' : '29','30일' : '30','31일' : '31'})
Real5

    월    4           0
1   5   94          연무
2   5  131
3   5  125          연무
4   5  106          연무
5   5   94          연무
6   5   87           비
7   5  119
8   5  110          연무
9   5  107          연무
10  5  136          연무
11  5  126          연무
12  5   93     연무\n햇무리
13  5  105  비\n연무\n햇무리
14  5  115
15  5   97          연무
16  5  139          연무
17  5  111     연무\n햇무리
18  5  117       비\n연무
19  5  106       비\n박무
20  5   97       비\n박무
21  5  114          연무
22  5  115          연무
23  5  121          연무
24  5  137          연무
25  5  108          연무
26  5   74
27  5  106  비\n안개비\n박무
28  5  129
29  5  114
30  5  116      비\n햇무리
31  5  148

In [194]:
Real5 = Real5.rename(columns = { 4 : 1 })

In [119]:
from selenium import webdriver
driver = webdriver.Chrome('driver/chromedriver')


driver.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2019&mm=6&obs=9')
weather_list1 = list()

for i in range (7,8) : # for 문을 활용해서 데이터 정리를 해보자..
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))

import pandas as pd
New1 = pd.DataFrame(
    {'01일' : weather_list1[0].text,
     '02일' : weather_list1[1].text,
    '03일' : weather_list1[2].text,
    '04일' : weather_list1[3].text,
    '05일' : weather_list1[4].text,
    '06일' : weather_list1[5].text,
    '07일' : weather_list1[6].text,
    '08일' : weather_list1[7].text,
    '09일' : weather_list1[8].text,
    '10일' : weather_list1[9].text,
    '11일' : weather_list1[10].text,
    '12일' : weather_list1[11].text,
    '13일' : weather_list1[12].text,
    '14일' : weather_list1[13].text,
    '15일' : weather_list1[14].text,
    '16일' : weather_list1[15].text,
    '17일' : weather_list1[16].text,
    '18일' : weather_list1[17].text,
    '19일' : weather_list1[18].text,
    '20일' : weather_list1[19].text,
    '21일' : weather_list1[20].text,
    '22일' : weather_list1[21].text,
    '23일' : weather_list1[22].text,
    '24일' : weather_list1[23].text,
    '25일' : weather_list1[24].text,
    '26일' : weather_list1[25].text,
    '27일' : weather_list1[26].text,
    '28일' : weather_list1[27].text,
    '29일' : weather_list1[28].text,
    '30일' : weather_list1[29].text,
    '31일' : weather_list1[30].text 
    },
    index=[0])

New1

ac= pd.read_csv('acci2019.csv','\t')


real6 = pd.concat([ac[5:6],New1])
real6

C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3841194759.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('driver/chromedriver')
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3841194759.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3841194759.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3841194759.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3841194759.py:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3841194759.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3841194759.py:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))
C:\Users\BIT\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,시도,사고월,구분,합계,01일,02일,03일,04일,05일,06일,...,22일,23일,24일,25일,26일,27일,28일,29일,30일,31일
5,서울,06월,사고건수,"3,290",112,83,102,118,134,105,...,121,84,114,140,102,116,138,122,67,-
0,NaN,NaN,NaN,NaN,박무\n연무,,,박무,박무\n연무\n채운,비\n박무\n연무,...,,,,연무,비,비\n박무\n연무,비\n안개비\n박무\n연무,비\n박무\n연무,비\n박무\n연무,

In [120]:
Real6 = real6.transpose()

In [121]:
Real6.insert(0,'월',['6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6','6'])

In [122]:
Real6 =Real6.drop(Real6.index[0])

In [123]:
Real6 =Real6.drop(Real6.index[0])

In [124]:
Real6 =Real6.drop(Real6.index[0])

In [125]:
Real6 =Real6.drop(Real6.index[0])

In [129]:
Real6 = Real6.rename(index={'01일' : '1','02일' : '2','03일' : '3','04일' : '4','05일' : '5','06일' : '6','07일' : '7','08일' : '8','09일' : '9','10일' : '10','11일' : '11','12일' : '12','13일' : '13','14일' : '14','15일' : '15','16일' : '16','17일' : '17','18일' : '18','19일' : '19','20일' : '20','21일' : '21','22일' : '22','23일' : '23','24일' : '24','25일' : '25','26일' : '26','27일' : '27','28일' : '28','29일' : '29','30일' : '30','31일' : '31'})

In [130]:
Real6 = Real6.rename(columns = { 5 : 1 })

In [131]:
from selenium import webdriver
driver = webdriver.Chrome('driver/chromedriver')


driver.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2019&mm=7&obs=9')
weather_list1 = list()

for i in range (2,8) : # for 문을 활용해서 데이터 정리를 해보자..
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))

import pandas as pd
New1 = pd.DataFrame(
    {'01일' : weather_list1[0].text,
     '02일' : weather_list1[1].text,
    '03일' : weather_list1[2].text,
    '04일' : weather_list1[3].text,
    '05일' : weather_list1[4].text,
    '06일' : weather_list1[5].text,
    '07일' : weather_list1[6].text,
    '08일' : weather_list1[7].text,
    '09일' : weather_list1[8].text,
    '10일' : weather_list1[9].text,
    '11일' : weather_list1[10].text,
    '12일' : weather_list1[11].text,
    '13일' : weather_list1[12].text,
    '14일' : weather_list1[13].text,
    '15일' : weather_list1[14].text,
    '16일' : weather_list1[15].text,
    '17일' : weather_list1[16].text,
    '18일' : weather_list1[17].text,
    '19일' : weather_list1[18].text,
    '20일' : weather_list1[19].text,
    '21일' : weather_list1[20].text,
    '22일' : weather_list1[21].text,
    '23일' : weather_list1[22].text,
    '24일' : weather_list1[23].text,
    '25일' : weather_list1[24].text,
    '26일' : weather_list1[25].text,
    '27일' : weather_list1[26].text,
    '28일' : weather_list1[27].text,
    '29일' : weather_list1[28].text,
    '30일' : weather_list1[29].text,
    '31일' : weather_list1[30].text 
    },
    index=[0])

New1

ac= pd.read_csv('acci2019.csv','\t')


real7 = pd.concat([ac[6:7],New1])
real7

C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3185006239.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('driver/chromedriver')
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3185006239.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3185006239.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3185006239.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3185006239.py:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3185006239.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3185006239.py:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))
C:\Users\BIT\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,시도,사고월,구분,합계,01일,02일,03일,04일,05일,06일,...,22일,23일,24일,25일,26일,27일,28일,29일,30일,31일
6,서울,07월,사고건수,"3,311",112,98,110,122,116,122,...,130,105,123,121,107,110,72,98,102,123
0,NaN,NaN,NaN,NaN,박무\n연무,박무\n연무,박무\n연무,박무\n연무,소나기\n연무,,...,안개비\n박무\n연무,박무,비\n안개비\n박무,비\n안개비\n박무,비\n안개비\n소나기\n박무,비\n안개비\n박무,비\n소나기\n박무,비,소나기,비\n소나기\n박무

In [132]:
Real7 = real7.transpose()

In [133]:
Real7.insert(0,'월',['7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7','7'])

In [134]:
Real7 =Real7.drop(Real7.index[0])

In [135]:
Real7 =Real7.drop(Real7.index[0])

In [136]:
Real7 =Real7.drop(Real7.index[0])

In [137]:
Real7 =Real7.drop(Real7.index[0])

In [138]:
Real7 = Real7.rename(index={'01일' : '1','02일' : '2','03일' : '3','04일' : '4','05일' : '5','06일' : '6','07일' : '7','08일' : '8','09일' : '9','10일' : '10','11일' : '11','12일' : '12','13일' : '13','14일' : '14','15일' : '15','16일' : '16','17일' : '17','18일' : '18','19일' : '19','20일' : '20','21일' : '21','22일' : '22','23일' : '23','24일' : '24','25일' : '25','26일' : '26','27일' : '27','28일' : '28','29일' : '29','30일' : '30','31일' : '31'})

In [139]:
Real7 = Real7.rename(columns = { 6 : 1 })
Real7

    월    1                0
1   7  112           박무\n연무
2   7   98           박무\n연무
3   7  110           박무\n연무
4   7  122           박무\n연무
5   7  116          소나기\n연무
6   7  122
7   7   80
8   7  123
9   7  115
10  7  123            비\n박무
11  7  116       비\n안개비\n박무
12  7  126
13  7   93        비\n박무\n연무
14  7   75           박무\n연무
15  7   97   비\n소나기\n박무\n연무
16  7   98      소나기\n박무\n연무
17  7  110      소나기\n박무\n연무
18  7   89           박무\n연무
19  7  120      소나기\n박무\n연무
20  7   95                비
21  7   80            비\n박무
22  7  130      안개비\n박무\n연무
23  7  105               박무
24  7  123       비\n안개비\n박무
25  7  121       비\n안개비\n박무
26  7  107  비\n안개비\n소나기\n박무
27  7  110       비\n안개비\n박무
28  7   72       비\n소나기\n박무
29  7   98                비
30  7  102              소나기
31  7  123       비\n소나기\n박무

In [140]:
from selenium import webdriver
driver = webdriver.Chrome('driver/chromedriver')


driver.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2019&mm=8&obs=9')
weather_list1 = list()

for i in range (5,8) : # for 문을 활용해서 데이터 정리를 해보자..
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))

import pandas as pd
New1 = pd.DataFrame(
    {'01일' : weather_list1[0].text,
     '02일' : weather_list1[1].text,
    '03일' : weather_list1[2].text,
    '04일' : weather_list1[3].text,
    '05일' : weather_list1[4].text,
    '06일' : weather_list1[5].text,
    '07일' : weather_list1[6].text,
    '08일' : weather_list1[7].text,
    '09일' : weather_list1[8].text,
    '10일' : weather_list1[9].text,
    '11일' : weather_list1[10].text,
    '12일' : weather_list1[11].text,
    '13일' : weather_list1[12].text,
    '14일' : weather_list1[13].text,
    '15일' : weather_list1[14].text,
    '16일' : weather_list1[15].text,
    '17일' : weather_list1[16].text,
    '18일' : weather_list1[17].text,
    '19일' : weather_list1[18].text,
    '20일' : weather_list1[19].text,
    '21일' : weather_list1[20].text,
    '22일' : weather_list1[21].text,
    '23일' : weather_list1[22].text,
    '24일' : weather_list1[23].text,
    '25일' : weather_list1[24].text,
    '26일' : weather_list1[25].text,
    '27일' : weather_list1[26].text,
    '28일' : weather_list1[27].text,
    '29일' : weather_list1[28].text,
    '30일' : weather_list1[29].text,
    '31일' : weather_list1[30].text 
    },
    index=[0])

New1

ac= pd.read_csv('acci2019.csv','\t')


real8 = pd.concat([ac[7:8],New1])
real8

C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/1374233171.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('driver/chromedriver')
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/1374233171.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/1374233171.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/1374233171.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/1374233171.py:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/1374233171.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/1374233171.py:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))
C:\Users\BIT\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,시도,사고월,구분,합계,01일,02일,03일,04일,05일,06일,...,22일,23일,24일,25일,26일,27일,28일,29일,30일,31일
7,서울,08월,사고건수,"3,447",109,118,90,93,102,104,...,130,123,136,86,116,114,104,123,131,141
0,NaN,NaN,NaN,NaN,비\n소나기\n박무,박무,소나기\n박무,소나기\n박무,박무\n연무,,...,박무\n연무,박무,,,,비\n박무,,비\n소나기\n박무,비\n소나기,

In [141]:
Real8 = real8.transpose()

In [142]:
Real8.insert(0,'월',['8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8','8'])

In [143]:
Real8 =Real8.drop(Real8.index[0])

In [144]:
Real8 =Real8.drop(Real8.index[0])

In [145]:
Real8 =Real8.drop(Real8.index[0])

In [146]:
Real8 =Real8.drop(Real8.index[0])

In [147]:
Real8 = Real8.rename(index={'01일' : '1','02일' : '2','03일' : '3','04일' : '4','05일' : '5','06일' : '6','07일' : '7','08일' : '8','09일' : '9','10일' : '10','11일' : '11','12일' : '12','13일' : '13','14일' : '14','15일' : '15','16일' : '16','17일' : '17','18일' : '18','19일' : '19','20일' : '20','21일' : '21','22일' : '22','23일' : '23','24일' : '24','25일' : '25','26일' : '26','27일' : '27','28일' : '28','29일' : '29','30일' : '30','31일' : '31'})

In [148]:
Real8 = Real8.rename(columns = { 7 : 1 })
Real8

    월    1            0
1   8  109   비\n소나기\n박무
2   8  118           박무
3   8   90      소나기\n박무
4   8   93      소나기\n박무
5   8  102       박무\n연무
6   8  104
7   8  104    비\n박무\n연무
8   8  115  소나기\n박무\n연무
9   8  127           박무
10  8  110      햇무리\n채운
11  8   91   비\n박무\n햇무리
12  8  114        비\n박무
13  8  108      소나기\n박무
14  8  137           박무
15  8   86        비\n박무
16  8  117            비
17  8  118        비\n박무
18  8   71
19  8   96
20  8  100
21  8  133    비\n박무\n연무
22  8  130       박무\n연무
23  8  123           박무
24  8  136
25  8   86
26  8  116
27  8  114        비\n박무
28  8  104
29  8  123   비\n소나기\n박무
30  8  131       비\n소나기
31  8  141

In [149]:
from selenium import webdriver
driver = webdriver.Chrome('driver/chromedriver')


driver.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2019&mm=9&obs=9')
weather_list1 = list()

for i in range (1,8) : # for 문을 활용해서 데이터 정리를 해보자..
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))

import pandas as pd
New1 = pd.DataFrame(
    {'01일' : weather_list1[0].text,
     '02일' : weather_list1[1].text,
    '03일' : weather_list1[2].text,
    '04일' : weather_list1[3].text,
    '05일' : weather_list1[4].text,
    '06일' : weather_list1[5].text,
    '07일' : weather_list1[6].text,
    '08일' : weather_list1[7].text,
    '09일' : weather_list1[8].text,
    '10일' : weather_list1[9].text,
    '11일' : weather_list1[10].text,
    '12일' : weather_list1[11].text,
    '13일' : weather_list1[12].text,
    '14일' : weather_list1[13].text,
    '15일' : weather_list1[14].text,
    '16일' : weather_list1[15].text,
    '17일' : weather_list1[16].text,
    '18일' : weather_list1[17].text,
    '19일' : weather_list1[18].text,
    '20일' : weather_list1[19].text,
    '21일' : weather_list1[20].text,
    '22일' : weather_list1[21].text,
    '23일' : weather_list1[22].text,
    '24일' : weather_list1[23].text,
    '25일' : weather_list1[24].text,
    '26일' : weather_list1[25].text,
    '27일' : weather_list1[26].text,
    '28일' : weather_list1[27].text,
    '29일' : weather_list1[28].text,
    '30일' : weather_list1[29].text,
    '31일' : weather_list1[30].text 
    },
    index=[0])

New1

ac= pd.read_csv('acci2019.csv','\t')


real9 = pd.concat([ac[8:9],New1])
real9

C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3458823676.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('driver/chromedriver')
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3458823676.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3458823676.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3458823676.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3458823676.py:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3458823676.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3458823676.py:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))
C:\Users\BIT\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,시도,사고월,구분,합계,01일,02일,03일,04일,05일,06일,...,22일,23일,24일,25일,26일,27일,28일,29일,30일,31일
8,서울,09월,사고건수,"3,313",85,127,124,106,116,134,...,97,113,118,117,110,127,128,102,133,-
0,NaN,NaN,NaN,NaN,,,비\n햇무리\n채운,비\n소나기\n박무,비\n소나기\n박무\n무지개,비,...,비,,,,,,,박무\n연무,박무\n연무,

In [150]:
Real9 = real9.transpose()

In [151]:
Real9.insert(0,'월',['9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9','9'])

In [152]:
Real9 =Real9.drop(Real9.index[0])

In [153]:
Real9 =Real9.drop(Real9.index[0])

In [154]:
Real9 =Real9.drop(Real9.index[0])

In [155]:
Real9 =Real9.drop(Real9.index[0])

In [156]:
Real9 = Real9.rename(index={'01일' : '1','02일' : '2','03일' : '3','04일' : '4','05일' : '5','06일' : '6','07일' : '7','08일' : '8','09일' : '9','10일' : '10','11일' : '11','12일' : '12','13일' : '13','14일' : '14','15일' : '15','16일' : '16','17일' : '17','18일' : '18','19일' : '19','20일' : '20','21일' : '21','22일' : '22','23일' : '23','24일' : '24','25일' : '25','26일' : '26','27일' : '27','28일' : '28','29일' : '29','30일' : '30','31일' : '31'})

In [158]:

Real9 = Real9.rename(columns = { 8 : 1 })
Real9

    월    1                0
1   9   85
2   9  127
3   9  124       비\n햇무리\n채운
4   9  106       비\n소나기\n박무
5   9  116  비\n소나기\n박무\n무지개
6   9  134                비
7   9   90            비\n박무
8   9   83        비\n박무\n연무
9   9  135        비\n박무\n연무
10  9  168       비\n소나기\n박무
11  9  146       비\n안개비\n박무
12  9   80            비\n박무
13  9   58                비
14  9   69       비\n안개비\n박무
15  9   74               박무
16  9   94
17  9  109
18  9  119
19  9  108
20  9  126
21  9  117
22  9   97                비
23  9  113
24  9  118
25  9  117
26  9  110
27  9  127
28  9  128
29  9  102           박무\n연무
30  9  133           박무\n연무
31  9    -

In [159]:
from selenium import webdriver
driver = webdriver.Chrome('driver/chromedriver')


driver.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2019&mm=10&obs=9')
weather_list1 = list()

for i in range (3,8) : # for 문을 활용해서 데이터 정리를 해보자..
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))

import pandas as pd
New1 = pd.DataFrame(
    {'01일' : weather_list1[0].text,
     '02일' : weather_list1[1].text,
    '03일' : weather_list1[2].text,
    '04일' : weather_list1[3].text,
    '05일' : weather_list1[4].text,
    '06일' : weather_list1[5].text,
    '07일' : weather_list1[6].text,
    '08일' : weather_list1[7].text,
    '09일' : weather_list1[8].text,
    '10일' : weather_list1[9].text,
    '11일' : weather_list1[10].text,
    '12일' : weather_list1[11].text,
    '13일' : weather_list1[12].text,
    '14일' : weather_list1[13].text,
    '15일' : weather_list1[14].text,
    '16일' : weather_list1[15].text,
    '17일' : weather_list1[16].text,
    '18일' : weather_list1[17].text,
    '19일' : weather_list1[18].text,
    '20일' : weather_list1[19].text,
    '21일' : weather_list1[20].text,
    '22일' : weather_list1[21].text,
    '23일' : weather_list1[22].text,
    '24일' : weather_list1[23].text,
    '25일' : weather_list1[24].text,
    '26일' : weather_list1[25].text,
    '27일' : weather_list1[26].text,
    '28일' : weather_list1[27].text,
    '29일' : weather_list1[28].text,
    '30일' : weather_list1[29].text,
    '31일' : weather_list1[30].text 
    },
    index=[0])

New1

ac= pd.read_csv('acci2019.csv','\t')


real10 = pd.concat([ac[9:10],New1])
real10

C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/1310486598.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('driver/chromedriver')
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/1310486598.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/1310486598.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/1310486598.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/1310486598.py:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/1310486598.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/1310486598.py:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))
C:\Users\BIT\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,시도,사고월,구분,합계,01일,02일,03일,04일,05일,06일,...,22일,23일,24일,25일,26일,27일,28일,29일,30일,31일
9,서울,10월,사고건수,"3,634",111,142,111,129,111,88,...,132,99,130,141,108,106,99,116,138,108
0,NaN,NaN,NaN,NaN,박무\n연무\n햇무리,비\n박무,비,박무\n연무,비\n박무\n연무,,...,연무,,,비\n박무,,,비\n박무,비\n박무,,박무\n연무\n황사

In [160]:
Real10 = real10.transpose()

In [161]:
Real10.insert(0,'월',['10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10','10'])

In [162]:
Real10 =Real10.drop(Real10.index[0])

In [163]:
Real10 =Real10.drop(Real10.index[0])

In [164]:
Real10 =Real10.drop(Real10.index[0])

In [165]:
Real10 =Real10.drop(Real10.index[0])

In [166]:
Real10 = Real10.rename(index={'01일' : '1','02일' : '2','03일' : '3','04일' : '4','05일' : '5','06일' : '6','07일' : '7','08일' : '8','09일' : '9','10일' : '10','11일' : '11','12일' : '12','13일' : '13','14일' : '14','15일' : '15','16일' : '16','17일' : '17','18일' : '18','19일' : '19','20일' : '20','21일' : '21','22일' : '22','23일' : '23','24일' : '24','25일' : '25','26일' : '26','27일' : '27','28일' : '28','29일' : '29','30일' : '30','31일' : '31'})

In [167]:

Real10 = Real10.rename(columns = { 9 : 1 })
Real10

     월    1            0
1   10  111  박무\n연무\n햇무리
2   10  142        비\n박무
3   10  111            비
4   10  129       박무\n연무
5   10  111    비\n박무\n연무
6   10   88
7   10  124  비\n박무\n달코로나
8   10  138           박무
9   10   98
10  10  108
11  10  129       박무\n연무
12  10  126
13  10   82         달코로나
14  10  125           연무
15  10  142
16  10  107
17  10  128
18  10  144
19  10  123           박무
20  10   81       박무\n연무
21  10  110       박무\n연무
22  10  132           연무
23  10   99
24  10  130
25  10  141        비\n박무
26  10  108
27  10  106
28  10   99        비\n박무
29  10  116        비\n박무
30  10  138
31  10  108   박무\n연무\n황사

In [170]:
from selenium import webdriver
driver = webdriver.Chrome('driver/chromedriver')


driver.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2019&mm=11&obs=9')
weather_list1 = list()

for i in range (6,8) : # for 문을 활용해서 데이터 정리를 해보자..
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))

import pandas as pd
New1 = pd.DataFrame(
    {'01일' : weather_list1[0].text,
     '02일' : weather_list1[1].text,
    '03일' : weather_list1[2].text,
    '04일' : weather_list1[3].text,
    '05일' : weather_list1[4].text,
    '06일' : weather_list1[5].text,
    '07일' : weather_list1[6].text,
    '08일' : weather_list1[7].text,
    '09일' : weather_list1[8].text,
    '10일' : weather_list1[9].text,
    '11일' : weather_list1[10].text,
    '12일' : weather_list1[11].text,
    '13일' : weather_list1[12].text,
    '14일' : weather_list1[13].text,
    '15일' : weather_list1[14].text,
    '16일' : weather_list1[15].text,
    '17일' : weather_list1[16].text,
    '18일' : weather_list1[17].text,
    '19일' : weather_list1[18].text,
    '20일' : weather_list1[19].text,
    '21일' : weather_list1[20].text,
    '22일' : weather_list1[21].text,
    '23일' : weather_list1[22].text,
    '24일' : weather_list1[23].text,
    '25일' : weather_list1[24].text,
    '26일' : weather_list1[25].text,
    '27일' : weather_list1[26].text,
    '28일' : weather_list1[27].text,
    '29일' : weather_list1[28].text,
    '30일' : weather_list1[29].text
    },
    index=[0])

New1

ac= pd.read_csv('acci2019.csv','\t')


real11 = pd.concat([ac[10:11],New1])
real11

C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3680417705.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('driver/chromedriver')
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3680417705.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3680417705.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3680417705.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3680417705.py:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3680417705.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/3680417705.py:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))
C:\Users\BIT\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,시도,사고월,구분,합계,01일,02일,03일,04일,05일,06일,...,22일,23일,24일,25일,26일,27일,28일,29일,30일,31일
10,서울,11월,사고건수,"3,669",136,129,88,133,124,95,...,124,125,88,109,117,112,103,129,137,-
0,NaN,NaN,NaN,NaN,박무\n황사,연무\n햇무리,박무\n연무,,박무,박무\n연무,...,,,비\n박무,,,연무,,,,NaN

In [171]:
Real11 = real11.transpose()

In [172]:
Real11.insert(0,'월',['11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11','11'])

In [173]:
Real11 =Real11.drop(Real11.index[0])

In [174]:
Real11 =Real11.drop(Real11.index[0])

In [175]:
Real11 =Real11.drop(Real11.index[0])

In [176]:
Real11 =Real11.drop(Real11.index[0])

In [177]:
Real11 = Real11.rename(index={'01일' : '1','02일' : '2','03일' : '3','04일' : '4','05일' : '5','06일' : '6','07일' : '7','08일' : '8','09일' : '9','10일' : '10','11일' : '11','12일' : '12','13일' : '13','14일' : '14','15일' : '15','16일' : '16','17일' : '17','18일' : '18','19일' : '19','20일' : '20','21일' : '21','22일' : '22','23일' : '23','24일' : '24','25일' : '25','26일' : '26','27일' : '27','28일' : '28','29일' : '29','30일' : '30','31일' : '31'})

In [178]:
Real11 = Real11.rename(columns = { 10 : 1 })

In [179]:
Real11

     월    1                 0
1   11  136            박무\n황사
2   11  129           연무\n햇무리
3   11   88            박무\n연무
4   11  133
5   11  124                박무
6   11   95            박무\n연무
7   11  125
8   11  126
9   11  119
10  11  102        비\n소나기\n박무
11  11  118             비\n박무
12  11  117            박무\n연무
13  11  118         비\n박무\n연무
14  11  128
15  11  184  비\n소나기\n진눈깨비\n박무
16  11  127        안개\n박무\n연무
17  11  101         비\n박무\n연무
18  11  148      비\n눈\n박무\n황사
19  11  146                 눈
20  11  127
21  11  134
22  11  124
23  11  125
24  11   88             비\n박무
25  11  109
26  11  117
27  11  112                연무
28  11  103
29  11  129
30  11  137
31  11    -               NaN

In [198]:
from selenium import webdriver
driver = webdriver.Chrome('driver/chromedriver')


driver.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2019&mm=12&obs=9')
weather_list1 = list()

for i in range (1,8) : # for 문을 활용해서 데이터 정리를 해보자..
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
for i in range (1,8) :
    weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))

import pandas as pd
New1 = pd.DataFrame(
    {'01일' : weather_list1[0].text,
     '02일' : weather_list1[1].text,
    '03일' : weather_list1[2].text,
    '04일' : weather_list1[3].text,
    '05일' : weather_list1[4].text,
    '06일' : weather_list1[5].text,
    '07일' : weather_list1[6].text,
    '08일' : weather_list1[7].text,
    '09일' : weather_list1[8].text,
    '10일' : weather_list1[9].text,
    '11일' : weather_list1[10].text,
    '12일' : weather_list1[11].text,
    '13일' : weather_list1[12].text,
    '14일' : weather_list1[13].text,
    '15일' : weather_list1[14].text,
    '16일' : weather_list1[15].text,
    '17일' : weather_list1[16].text,
    '18일' : weather_list1[17].text,
    '19일' : weather_list1[18].text,
    '20일' : weather_list1[19].text,
    '21일' : weather_list1[20].text,
    '22일' : weather_list1[21].text,
    '23일' : weather_list1[22].text,
    '24일' : weather_list1[23].text,
    '25일' : weather_list1[24].text,
    '26일' : weather_list1[25].text,
    '27일' : weather_list1[26].text,
    '28일' : weather_list1[27].text,
    '29일' : weather_list1[28].text,
    '30일' : weather_list1[29].text,
     '31일' : weather_list1[30].text
    },
    index=[0])

New1

ac= pd.read_csv('acci2019.csv','\t')


real12 = pd.concat([ac[11:12],New1])
real12

C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/1322014140.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('driver/chromedriver')
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/1322014140.py:9: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[2]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/1322014140.py:11: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[4]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/1322014140.py:13: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[6]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/1322014140.py:15: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[8]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/1322014140.py:17: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[10]/td[{0}]'.format(i)))
C:\Users\BIT\AppData\Local\Temp/ipykernel_17464/1322014140.py:19: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather_list1.extend(driver.find_elements_by_xpath('/html/body/div[2]/section/div/div[2]/div[2]/div[3]/div/table/tbody/tr[12]/td[{0}]'.format(i)))
C:\Users\BIT\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

,시도,사고월,구분,합계,01일,02일,03일,04일,05일,06일,...,22일,23일,24일,25일,26일,27일,28일,29일,30일,31일
11,서울,12월,사고건수,"3,250",105,123,118,117,130,118,...,73,113,121,76,91,94,94,78,91,106
0,NaN,NaN,NaN,NaN,,,,,,,...,,,,,,연무,,비\n박무,비\n눈\n박무\n연무,눈

In [199]:
Real12 = real12.transpose()

In [200]:
Real12.insert(0,'월',['12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12','12'])

In [201]:
Real12 =Real12.drop(Real12.index[0])

In [202]:
Real12 =Real12.drop(Real12.index[0])

In [203]:
Real12 =Real12.drop(Real12.index[0])

In [204]:
Real12 =Real12.drop(Real12.index[0])

In [205]:
Real12 = Real12.rename(index={'01일' : '1','02일' : '2','03일' : '3','04일' : '4','05일' : '5','06일' : '6','07일' : '7','08일' : '8','09일' : '9','10일' : '10','11일' : '11','12일' : '12','13일' : '13','14일' : '14','15일' : '15','16일' : '16','17일' : '17','18일' : '18','19일' : '19','20일' : '20','21일' : '21','22일' : '22','23일' : '23','24일' : '24','25일' : '25','26일' : '26','27일' : '27','28일' : '28','29일' : '29','30일' : '30','31일' : '31'})

In [206]:

Real12 = Real12.rename(columns = { 11 : 1 })
Real12

     월    1             0
1   12  105
2   12  123
3   12  118
4   12  117
5   12  130
6   12  118
7   12  118
8   12   79
9   12   97
10  12  109
11  12   94
12  12  113
13  12  139
14  12  127
15  12   81
16  12   92
17  12  111
18  12   99
19  12  116
20  12  122
21  12  105
22  12   73
23  12  113
24  12  121
25  12   76
26  12   91
27  12   94            연무
28  12   94
29  12   78         비\n박무
30  12   91  비\n눈\n박무\n연무
31  12  106             눈

In [216]:
realAll = pd.concat([Real1,Real2,Real3,Real4,Real5,Real6,Real7,Real8,Real9,Real10,Real11,Real12])

realAll.to_csv('realAll.csv')