# Pandas - File Handling

## 1. CSV

In [1]:
import os 

current_directory = os.getcwd()

print (current_directory)

/home/studio-lab-user/sagemaker-studiolab-notebooks/lecture/Data Science 02

In [1]:
import pandas as pd

In [2]:
# current_directory  디렉토리 하위에 data/cctv_in_seoul.csv 파일이 존재해야함.

# cctv_in_seoul.csv 파일을 읽어 dataframe 으로 읽어들임 
cctv = pd.read_csv("data/cctv_in_seoul.csv", encoding="utf-8")


cctv.head()

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [4]:
cctv.to_csv('data/cctv_in_seoul2.csv')

## 2. Excel

* xlrd은 파이썬에서 엑셀 파일을 읽어오거나 쓰기를 할 때 필요한 라이브러리입니다.

In [11]:
! pip install xlrd

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 2.2 MB/s eta 0:00:01
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

In [4]:
import pandas as pd

In [12]:
popseoul = pd.read_excel("data/population_in_seoul.xls")

popseoul.head() #5행만

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764

## 3. JSON

In [11]:
import pandas as pd

df = pd.read_json('data/score.json')

df

     id   name  math  physics  chemistry
0  A001    Tom    60       66         61
1  A002  James    89       76         51
2  A003  Jenny    79       90         78